body {
  margin: 0;
  font-family: roboto, sans-serif;
  font-weight: normal;
}

header {
  background-color: #4B7D59;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 80px;
}
header .logo {
  margin: 0;
  height: 64px;
  width: 90px;
  position: absolute;
  left: 2em;
  top: 0.2em;
}
header .nav-toggle {
  display: none;
}
header .nav-toggle-lable {
  position: absolute;
  top: 0;
  left: 22em;
  height: 100%;
  display: flex;
  align-items: center;
}
header .nav-toggle-lable span,
header .nav-toggle-lable span::before,
header .nav-toggle-lable span::after {
  display: block;
  background: #fff;
  height: 2px;
  width: 2em;
  position: relative;
}
header .nav-toggle-lable span::before,
header .nav-toggle-lable span::after {
  content: "";
  position: absolute;
}
header .nav-toggle-lable span::before {
  bottom: 7px;
}
header .nav-toggle-lable span::after {
  top: 7px;
}
header nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: rgb(255, 253, 253);
  width: 100%;
  transform-origin: top;
  transform: scale(1, 0);
  transition: transform 400ms ease-in-out;
}
header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
header nav li {
  margin-top: 1em;
  margin-left: 2em;
}
header nav a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
header nav a:hover {
  color: #11BF42;
}
header .nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}
header .nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
header .shoppingcart {
  display: flex;
  width: 2em;
  height: 2em;
  position: absolute;
  left: 27em;
  bottom: 1.5em;
}

img.vr-man {
  position: relative;
  top: 5em;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left 65%;
     object-position: left 65%;
  width: 100%;
  height: 132px;
}

.title {
  position: absolute;
  top: 13em;
  left: 2em;
  font-weight: bold;
}

.info {
  position: absolute;
  top: 18em;
  font-weight: normal;
  font-size: 16px;
  left: 2em;
  width: 297px;
  height: 166px;
}

footer {
  width: 100%;
  height: 134px;
  background-color: #4B7D59;
  position: absolute;
  top: 1000px;
}
footer div.sosical-media {
  display: inline;
  position: absolute;
  left: 28em;
  top: 3em;
}
footer div.sosical-media svg.insta {
  width: 32px;
  height: 30px;
  position: absolute;
  right: 4em;
}
footer div.sosical-media svg.tik-tok {
  width: 32px;
  height: 34px;
  position: absolute;
  right: 1em;
}
footer div.sosical-media svg.face {
  width: 17px;
  height: 30px;
  position: absolute;
  left: 0, 5em;
}
footer .logo-footer {
  margin: 0;
  height: 64px;
  width: 90px;
  position: absolute;
  bottom: 4em;
  left: 2em;
  top: 1em;
}
footer div.footer-col nav {
  position: absolute;
  left: 10em;
  top: 1em;
}
footer div.footer-col ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer div.footer-col li {
  margin-top: 0.5em;
}
footer div.footer-col a {
  font-family: nunito, sans-serif;
  text-decoration: none;
  color: #fff;
}
footer div.footer-col a:hover {
  color: #75dd53;
}

img.service-man {
  position: relative;
  top: 5em;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left 46%;
     object-position: left 46%;
  width: 100%;
  height: 136px;
}

h1.title-2 {
  position: absolute;
  top: 7em;
  left: 1em;
  font-weight: bold;
}

.info-text {
  margin-left: 2em;
  display: block;
}
.info-text .chat {
  position: absolute;
  top: 19em;
}
.info-text .time {
  position: absolute;
  top: 20.5em;
}
.info-text .call {
  position: absolute;
  top: 23.5em;
}
.info-text .time-2 {
  position: absolute;
  top: 25em;
}
.info-text .end-text {
  position: absolute;
  top: 29.5em;
}

div.text-box {
  position: absolute;
  top: 3em;
}
div.text-box label.hero-name {
  position: absolute;
  top: 1em;
}
div.text-box label.hero-email {
  position: absolute;
  top: 5.5em;
}
div.text-box label.hero-message {
  position: absolute;
  top: 10em;
}
div.text-box input.area-name {
  position: absolute;
  top: 3em;
  width: 20em;
  height: 2em;
}
div.text-box input.area-email {
  position: absolute;
  top: 8.2em;
  height: 2em;
  width: 20em;
}
div.text-box textarea {
  position: absolute;
  top: 14em;
  left: 0;
  width: 20em;
}
div.text-box form {
  position: absolute;
  top: 30em;
  left: 2em;
}

div.hero-send {
  position: absolute;
  top: 51em;
  left: 2em;
}
div.hero-send h3.send {
  font-family: nunito, sans-serif;
  font-weight: 700;
  font-size: 20px;
  width: 127px;
  height: 30px;
  text-align: center;
  background-color: #4B7D59;
  border-radius: 4px;
}
div.hero-send a {
  text-decoration: none;
  color: #fff;
}

@media only screen and (min-width: 700px) {
  label.nav-toggle-lable {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  header nav {
    all: unset;
    grid-column: 2/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header nav a {
    opacity: 1;
    color: #fff;
    font-size: 16px;
    position: relative;
  }
  header nav li {
    margin-top: 0;
    position: relative;
    right: 6em;
  }
  header nav ul {
    display: flex;
  }
  header .shoppingcart {
    position: absolute;
    left: 40em;
  }
  img.vr-man {
    height: 200px;
    -o-object-position: left 65%;
       object-position: left 65%;
    background: url("vr.jpg");
    background-color: linear-gradient(#FFFBFB);
    opacity: 0.8;
  }
  .title {
    color: #fff;
    position: absolute;
    top: 8em;
    left: 4em;
  }
  .info {
    position: absolute;
    left: 8em;
    width: 30em;
  }
  nav a::after {
    content: "";
    display: block;
    height: 5px;
    background: rgb(252, 252, 252);
    position: absolute;
    top: 10;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  nav a:hover::after {
    transform: scale(1, 1);
  }
  footer div.sosical-media {
    display: inline;
    position: absolute;
    left: 40em;
    top: 3em;
  }
  footer div.footer-col {
    position: absolute;
    left: 8em;
  }
  img.service-man {
    height: 200px;
    -o-object-position: left 45%;
       object-position: left 45%;
    background: url("vr.jpg");
    background-color: linear-gradient(#FFFBFB);
    opacity: 0.8;
  }
  h1.title-2 {
    position: absolute;
    top: 4em;
    left: 2em;
  }
}
@media screen and (min-width: 800px) {
  label.nav-toggle-lable {
    display: none;
  }
  img.vr-man {
    height: 200px;
    -o-object-position: left 65%;
       object-position: left 65%;
  }
  img.service-man {
    height: 250px;
    -o-object-position: left 40%;
       object-position: left 40%;
  }
  div.info-text .chat {
    position: absolute;
    top: 21em;
    left: 10em;
  }
  div.info-text .time {
    position: absolute;
    top: 22.5em;
    left: 10em;
  }
  div.info-text .call {
    position: absolute;
    top: 25em;
    left: 10em;
  }
  div.info-text .time-2 {
    position: absolute;
    top: 26.5em;
    left: 10em;
  }
  div.info-text .end-text {
    position: absolute;
    top: 21em;
    left: 27em;
  }
  div.hero-send a h3:hover {
    background-color: #11BF42;
  }
  div.text-box {
    position: absolute;
    top: -7em;
    left: 25em;
  }
  header {
    display: grid;
    grid-template-columns: 5fr auto minmax(900px, 3fr) 3fr;
    width: 1440px;
    height: 97px;
  }
  header .logo {
    position: absolute;
    left: 5em;
    top: 1em;
    width: 112px;
    height: 63px;
  }
  header nav {
    all: unset;
    grid-column: 1/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header nav a {
    opacity: 1;
    color: #fff;
    font-size: 14px;
    position: relative;
  }
  header nav li {
    margin-top: 0;
    margin-right: 1em;
    position: relative;
    right: 35em;
  }
  header nav ul {
    display: flex;
  }
  header .shoppingcart {
    position: absolute;
    left: 45em;
    bottom: 2em;
    width: 2em;
    height: 2em;
  }
  footer {
    height: 96px;
  }
  footer div.sosical-media {
    display: inline;
    position: absolute;
    left: 47em;
    top: 2em;
  }
  footer div.sosical-media svg.face {
    width: 14px;
    height: 32px;
  }
  footer div.sosical-media svg.tik-tok {
    width: 24px;
    height: 32px;
  }
  footer div.sosical-media svg.insta {
    width: 25px;
    width: 32px;
  }
  footer div.footer-col {
    position: absolute;
    left: 10em;
  }
}
@media screen and (min-width: 900px) {
  label.nav-toggle-lable {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 5fr auto minmax(900px, 3fr) 3fr;
    width: 1440px;
    height: 97px;
  }
  header .logo {
    position: absolute;
    left: 5em;
    top: 1em;
    width: 112px;
    height: 63px;
  }
  header nav {
    all: unset;
    grid-column: 1/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header nav a {
    opacity: 1;
    color: #fff;
    font-size: 14px;
    position: relative;
  }
  header nav li {
    margin-top: 0;
    margin-right: 1em;
    position: relative;
    right: 35em;
  }
  header nav ul {
    display: flex;
  }
  header .shoppingcart {
    position: absolute;
    left: 50em;
    bottom: 2em;
    width: 2em;
    height: 2em;
  }
  img.vr-man {
    height: 250px;
    -o-object-position: left 70%;
       object-position: left 70%;
  }
  .info {
    position: absolute;
    top: 15em;
    left: 5em;
    font-weight: normal;
    font-size: 22px;
    width: 30em;
  }
  .info p.text {
    position: absolute;
    top: 3.5em;
  }
  footer {
    height: 96px;
  }
  footer div.sosical-media {
    display: inline;
    position: absolute;
    left: 52.5em;
    top: 2em;
  }
  footer div.sosical-media svg.face {
    width: 14px;
    height: 32px;
  }
  footer div.sosical-media svg.tik-tok {
    width: 24px;
    height: 32px;
  }
  footer div.sosical-media svg.insta {
    width: 25px;
    width: 32px;
  }
  footer div.footer-col {
    position: absolute;
    left: 10em;
  }
}
@media screen and (min-width: 930px) {
  label.nav-toggle-lable {
    display: none;
  }
  img.service-man {
    height: 250px;
    -o-object-position: left 47%;
       object-position: left 47%;
  }
  h1.title-2 {
    position: absolute;
    top: 2.5em;
    left: 1em;
    font-size: 50px;
  }
  header {
    display: grid;
    grid-template-columns: 5fr auto minmax(900px, 3fr) 3fr;
    width: 1440px;
    height: 97px;
  }
  header .logo {
    position: absolute;
    left: 5em;
    top: 1em;
    width: 112px;
    height: 63px;
  }
  header nav {
    all: unset;
    grid-column: 1/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header nav a {
    opacity: 1;
    color: #fff;
    font-size: 14px;
    position: relative;
  }
  header nav li {
    margin-top: 0;
    margin-right: 2em;
    position: relative;
    right: 32em;
  }
  header nav ul {
    display: flex;
  }
  header .shoppingcart {
    position: absolute;
    left: 52em;
    width: 2.5em;
    height: 2.5em;
  }
}
@media screen and (min-width: 1030px) {
  label.nav-toggle-lable {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 5fr auto minmax(900px, 3fr) 3fr;
    width: 1440px;
    height: 97px;
  }
  header .logo {
    position: absolute;
    left: 5em;
    top: 1em;
    width: 112px;
    height: 63px;
  }
  header nav {
    all: unset;
    grid-column: 1/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header nav a {
    opacity: 1;
    color: #fff;
    font-size: 14px;
    position: relative;
  }
  header nav li {
    margin-top: 0;
    margin-right: 2em;
    position: relative;
    right: 32em;
  }
  header nav ul {
    display: flex;
  }
  header .shoppingcart {
    position: absolute;
    left: 57em;
    width: 2.5em;
    height: 2.5em;
  }
  img.vr-man {
    height: 250px;
    -o-object-position: left 70%;
       object-position: left 70%;
  }
  footer {
    height: 96px;
  }
  footer div.sosical-media {
    display: inline;
    position: absolute;
    left: 60em;
    top: 2em;
  }
  footer div.sosical-media svg.face {
    width: 14px;
    height: 32px;
  }
  footer div.sosical-media svg.tik-tok {
    width: 24px;
    height: 32px;
  }
  footer div.sosical-media svg.insta {
    width: 25px;
    width: 32px;
  }
  footer div.footer-col {
    position: absolute;
    left: 15em;
  }
  img.logo-footer {
    position: absolute;
    left: 5em;
    top: 1em;
    width: 112px;
    height: 63px;
  }
}
@media screen and (min-width: 1200px) {
  label.nav-toggle-lable {
    display: none;
  }
  img.vr-man {
    height: 350px;
    -o-object-position: left 65%;
       object-position: left 65%;
  }
  .title {
    position: absolute;
    top: 5em;
    left: 1em;
    font-size: 35px;
  }
  .info {
    position: absolute;
    top: 20em;
  }
  img.service-man {
    height: 350px;
    -o-object-position: left 50%;
       object-position: left 50%;
  }
  h1.title-2 {
    position: absolute;
    top: 2.5em;
    left: 2em;
    font-size: 63px;
  }
  div.info-text .chat {
    position: absolute;
    top: 22em;
    left: 18em;
    font-size: 20px;
  }
  div.info-text .time {
    position: absolute;
    top: 23.5em;
    left: 18em;
    font-size: 20px;
  }
  div.info-text .call {
    position: absolute;
    top: 25.5em;
    left: 18em;
    font-size: 20px;
  }
  div.info-text .time-2 {
    position: absolute;
    top: 26.5em;
    left: 18em;
    font-size: 20px;
  }
  div.info-text .end-text {
    position: absolute;
    top: 22em;
    left: 37em;
    font-size: 20px;
  }
  div.text-box {
    position: absolute;
    top: -5em;
    left: 35em;
    font-size: 20px;
  }
  div.text-box label.hero-name {
    position: absolute;
    top: 0.5em;
  }
  div.text-box label.hero-email {
    position: absolute;
    top: 4em;
  }
  div.text-box label.hero-message {
    position: absolute;
    top: 8em;
  }
  div.hero-send {
    position: absolute;
    top: 47.5em;
    width: 123px;
    height: 35px;
  }
  header {
    display: grid;
    grid-template-columns: 5fr auto minmax(900px, 3fr) 3fr;
    width: 1440px;
    height: 97px;
  }
  header .logo {
    position: absolute;
    left: 5em;
    top: 1em;
    width: 112px;
    height: 63px;
  }
  header nav {
    all: unset;
    grid-column: 1/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header nav a {
    opacity: 1;
    color: #fff;
    font-size: 14px;
    position: relative;
  }
  header nav li {
    margin-top: 0;
    margin-right: 4em;
    position: relative;
    right: 22em;
  }
  header nav ul {
    display: flex;
  }
  header .shoppingcart {
    position: absolute;
    left: 68em;
    width: 2.5em;
    height: 2.5em;
  }
  footer {
    position: absolute;
    top: 1000px;
    height: 96px;
  }
  footer div.sosical-media {
    display: inline;
    position: absolute;
    left: 70em;
    top: 2em;
  }
  footer div.sosical-media svg.face {
    width: 14px;
    height: 32px;
  }
  footer div.sosical-media svg.tik-tok {
    width: 24px;
    height: 32px;
  }
  footer div.sosical-media svg.insta {
    width: 25px;
    width: 32px;
  }
  footer div.footer-col {
    position: absolute;
    left: 16em;
  }
}
@media screen and (min-width: 1400px) {
  label.nav-toggle-lable {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 5fr auto minmax(900px, 3fr) 3fr;
    width: 1440px;
    height: 97px;
  }
  header .logo {
    position: absolute;
    left: 5em;
    top: 1em;
    width: 112px;
    height: 63px;
  }
  header nav {
    all: unset;
    grid-column: 1/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header nav a {
    opacity: 1;
    color: #fff;
    font-size: 14px;
    position: relative;
  }
  header nav li {
    margin-top: 0;
    margin-right: 4em;
    position: relative;
    right: 22em;
  }
  header nav ul {
    display: flex;
  }
  header .shoppingcart {
    position: absolute;
    left: 80em;
    width: 2.5em;
    height: 2.5em;
  }
  .info {
    position: absolute;
    left: 10em;
    width: 40em;
  }
  .info p.text {
    position: absolute;
    top: 2.3em;
  }
  img.service-man {
    height: 400px;
    -o-object-position: left 50%;
       object-position: left 50%;
  }
  h1.title-2 {
    position: absolute;
    top: 3em;
    left: 1em;
    font-size: 63px;
  }
  div.info-text .chat {
    position: absolute;
    top: 24em;
    left: 18em;
    font-size: 20px;
  }
  div.info-text .time {
    position: absolute;
    top: 25.5em;
    left: 18em;
    font-size: 20px;
  }
  div.info-text .call {
    position: absolute;
    top: 27.5em;
    left: 18em;
    font-size: 20px;
  }
  div.info-text .time-2 {
    position: absolute;
    top: 29em;
    left: 18em;
    font-size: 20px;
  }
  div.info-text .end-text {
    position: absolute;
    top: 24em;
    left: 37em;
    font-size: 20px;
  }
  div.text-box {
    position: absolute;
    top: -3em;
    left: 35em;
    font-size: 20px;
  }
  div.text-box label.hero-name {
    position: absolute;
    top: 0.5em;
  }
  div.text-box label.hero-email {
    position: absolute;
    top: 4em;
  }
  div.text-box label.hero-message {
    position: absolute;
    top: 8em;
  }
  div.hero-send {
    position: absolute;
    top: 47.5em;
  }
  footer {
    height: 96px;
    position: absolute;
    top: 1100px;
  }
  footer div.sosical-media {
    display: inline;
    position: absolute;
    left: 82em;
    top: 2em;
  }
  footer div.sosical-media svg.face {
    width: 14px;
    height: 32px;
  }
  footer div.sosical-media svg.tik-tok {
    width: 24px;
    height: 32px;
  }
  footer div.sosical-media svg.insta {
    width: 25px;
    width: 32px;
  }
  footer div.footer-col {
    position: absolute;
    left: 15em;
  }
}/*# sourceMappingURL=about.css.map */