body {
  margin: 0;
  font-family: roboto, sans-serif;
  font-weight: normal;
}

/*Nav bar styling start here*/
header {
  background-color: #4B7D59;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 80px;
}
header .logo {
  margin: 0;
  height: 64px;
  width: 90px;
  position: absolute;
  left: 2em;
  top: 0.2em;
}
header .nav-toggle {
  display: none;
}
header .nav-toggle-lable {
  position: absolute;
  top: 0;
  left: 22em;
  height: 100%;
  display: flex;
  align-items: center;
}
header .nav-toggle-lable span {
  color: #4B7D59;
}
header .nav-toggle-lable span,
header .nav-toggle-lable span::before,
header .nav-toggle-lable span::after {
  display: block;
  background: #fff;
  height: 2px;
  width: 2em;
  position: relative;
}
header .nav-toggle-lable span::before,
header .nav-toggle-lable span::after {
  content: "";
  position: absolute;
}
header .nav-toggle-lable span::before {
  bottom: 7px;
}
header .nav-toggle-lable span::after {
  top: 7px;
}
header nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: rgb(255, 253, 253);
  width: 100%;
  transform-origin: top;
  transform: scale(1, 0);
  transition: transform 400ms ease-in-out;
}
header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
header nav li {
  margin-top: 1em;
  margin-left: 2em;
}
header nav a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
header nav a:hover {
  color: #11BF42;
}
header .nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}
header .nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
header .shoppingcart {
  display: flex;
  width: 2em;
  height: 2em;
  position: absolute;
  left: 27em;
  bottom: 1.5em;
}

/* The main styling on web page start here */
img.vr-man {
  position: relative;
  top: 5em;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left 65%;
     object-position: left 65%;
  width: 100%;
  height: 132px;
}

.title {
  position: absolute;
  top: 13em;
  left: 2em;
  font-weight: bold;
}

.info {
  position: absolute;
  top: 18em;
  font-weight: normal;
  font-size: 16px;
  left: 2em;
  width: 297px;
  height: 166px;
}

/* footer design start here */
footer {
  width: 100%;
  height: 134px;
  background-color: #4B7D59;
  position: absolute;
  top: 1000px;
}
footer div.sosical-media {
  display: inline;
  position: absolute;
  left: 28em;
  top: 3em;
}
footer div.sosical-media svg.insta {
  width: 32px;
  height: 30px;
  position: absolute;
  right: 4em;
}
footer div.sosical-media svg.tik-tok {
  width: 32px;
  height: 34px;
  position: absolute;
  right: 1em;
}
footer div.sosical-media svg.face {
  width: 17px;
  height: 30px;
  position: absolute;
  left: 0, 5em;
}
footer .logo-footer {
  margin: 0;
  height: 64px;
  width: 90px;
  position: absolute;
  bottom: 4em;
  left: 2em;
  top: 1em;
}
footer div.footer-col nav {
  position: absolute;
  left: 10em;
  top: 1em;
}
footer div.footer-col ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer div.footer-col li {
  margin-top: 0.5em;
}
footer div.footer-col a {
  font-family: nunito, sans-serif;
  text-decoration: none;
  color: #fff;
}
footer div.footer-col a:hover {
  color: #75dd53;
}

div.footer-detail footer {
  width: 100%;
  height: 134px;
  background-color: #4B7D59;
  position: absolute;
  top: 1450px;
}
div.footer-detail footer div.sosical-media {
  display: inline;
  position: absolute;
  left: 28em;
  top: 3em;
}
div.footer-detail footer div.sosical-media svg.insta {
  width: 32px;
  height: 30px;
  position: absolute;
  right: 4em;
}
div.footer-detail footer div.sosical-media svg.tik-tok {
  width: 32px;
  height: 34px;
  position: absolute;
  right: 1em;
}
div.footer-detail footer div.sosical-media svg.face {
  width: 17px;
  height: 30px;
  position: absolute;
  left: 0, 5em;
}
div.footer-detail footer .logo-footer {
  margin: 0;
  height: 64px;
  width: 90px;
  position: absolute;
  bottom: 4em;
  left: 2em;
  top: 1em;
}
div.footer-detail footer div.footer-col nav {
  position: absolute;
  left: 10em;
  top: 1em;
}
div.footer-detail footer div.footer-col ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
div.footer-detail footer div.footer-col li {
  margin-top: 0.5em;
}
div.footer-detail footer div.footer-col a {
  font-family: nunito, sans-serif;
  text-decoration: none;
  color: #fff;
}
div.footer-detail footer div.footer-col a:hover {
  color: #75dd53;
}

/* The styling of the contact page started here */
img.service-man {
  position: relative;
  top: 5em;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left 46%;
     object-position: left 46%;
  width: 100%;
  height: 136px;
}

h1.title-2 {
  position: absolute;
  top: 7em;
  left: 1em;
  font-weight: bold;
}

.info-text {
  margin-left: 2em;
  display: block;
}
.info-text .chat {
  position: absolute;
  top: 19em;
}
.info-text .time {
  position: absolute;
  top: 20.5em;
}
.info-text .call {
  position: absolute;
  top: 23.5em;
}
.info-text .time-2 {
  position: absolute;
  top: 25em;
}
.info-text .end-text {
  position: absolute;
  top: 29.5em;
}

div.text-box {
  position: absolute;
  top: 3em;
}
div.text-box label.hero-name {
  position: absolute;
  top: 1em;
}
div.text-box label.hero-email {
  position: absolute;
  top: 5.5em;
}
div.text-box label.hero-message {
  position: absolute;
  top: 10em;
}
div.text-box input.area-name {
  position: absolute;
  top: 3em;
  width: 20em;
  height: 2em;
}
div.text-box input.area-email {
  position: absolute;
  top: 8.2em;
  height: 2em;
  width: 20em;
}
div.text-box textarea {
  position: absolute;
  top: 14em;
  left: 0;
  width: 20em;
}
div.text-box form {
  position: absolute;
  top: 30em;
  left: 2em;
}

div.hero-send {
  position: absolute;
  top: 51em;
  left: 2em;
}
div.hero-send h3.send {
  font-family: nunito, sans-serif;
  font-weight: 700;
  font-size: 20px;
  width: 127px;
  height: 30px;
  text-align: center;
  background-color: #4B7D59;
  border-radius: 4px;
}
div.hero-send a {
  text-decoration: none;
  color: #fff;
}

/*The successful payment page start here*/
div.hero-successful h1.succes-title {
  position: absolute;
  top: 5.5em;
  left: 2.7em;
  font-size: 26px;
  font-weight: bold;
}
div.hero-successful svg.checkmark {
  width: 66px;
  height: 66px;
  position: absolute;
  top: 12em;
  left: 13em;
}
div.hero-successful p.succes-text {
  width: 410px;
  text-align: center;
  line-height: 1.8em;
  position: absolute;
  top: 16em;
  left: 2.5em;
  font-size: 16px;
  font-weight: 500;
}

div.hero-rec {
  position: absolute;
  top: 20em;
}
div.hero-rec h1.rec-title {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 3em;
  left: 7em;
  width: 300px;
}
div.hero-rec h3.rec-detail {
  font-family: nunito, sans-serif;
  font-weight: bold;
  font-size: 24px;
  background-color: #1E7B9C;
  border-radius: 4px;
  position: absolute;
  top: 12.7em;
  left: 1em;
  width: 130px;
  height: 35px;
  text-align: center;
  color: #fff;
}
div.hero-rec h3.rec-detail2 {
  font-family: nunito, sans-serif;
  font-weight: bold;
  font-size: 24px;
  background-color: #1E7B9C;
  border-radius: 4px;
  position: absolute;
  top: 12.7em;
  left: 7.6em;
  width: 130px;
  height: 35px;
  text-align: center;
  color: #fff;
}
div.hero-rec h3.rec-detail3 {
  font-family: nunito, sans-serif;
  font-weight: bold;
  font-size: 24px;
  background-color: #1E7B9C;
  border-radius: 4px;
  position: absolute;
  top: 12.7em;
  left: 14.2em;
  width: 130px;
  height: 35px;
  text-align: center;
  color: #fff;
}
div.hero-rec h2.rec-game {
  position: absolute;
  top: 20em;
  left: 1.7em;
  font-size: 14px;
  font-weight: normal;
}
div.hero-rec h2.rec-game2 {
  position: absolute;
  top: 20em;
  left: 13em;
  width: 200px;
  font-size: 14px;
  font-weight: normal;
}
div.hero-rec h2.rec-game3 {
  position: absolute;
  top: 20em;
  left: 24.3em;
  font-size: 14px;
  font-weight: normal;
}
div.hero-rec h3.rec-console {
  position: absolute;
  top: 30em;
  left: 2.4em;
  font-size: 10px;
  font-weight: lighter;
}
div.hero-rec h3.rec-console2 {
  position: absolute;
  top: 30em;
  left: 18.2em;
  font-size: 10px;
  font-weight: normal;
}
div.hero-rec h3.rec-console3 {
  position: absolute;
  top: 30em;
  left: 34em;
  font-size: 10px;
  font-weight: normal;
}
div.hero-rec h3.rec-price {
  position: absolute;
  top: 17.2em;
  left: 6.5em;
  font-weight: bold;
  font-size: 16px;
}
div.hero-rec h3.rec-price2 {
  position: absolute;
  top: 17.2em;
  left: 16.7em;
  font-weight: bold;
  font-size: 16px;
}
div.hero-rec h3.rec-price3 {
  position: absolute;
  top: 17.2em;
  left: 26.5em;
  font-weight: bold;
  font-size: 16px;
}
div.hero-rec img.rec-images {
  height: 159px;
  width: 130px;
  position: absolute;
  top: 8em;
  left: 1.5em;
}
div.hero-rec img.rec-images2 {
  height: 159px;
  width: 130px;
  position: absolute;
  top: 8em;
  left: 11.5em;
}
div.hero-rec img.rec-images3 {
  height: 159px;
  width: 130px;
  position: absolute;
  top: 8em;
  left: 21.3em;
}

/*The Detail page style start here*/
div.detail-top {
  position: absolute;
  top: 10em;
}
div.detail-top img.top-image {
  width: 202px;
  height: 249px;
  position: absolute;
  left: 7em;
  top: 1em;
}
div.detail-top svg.rate {
  width: 149px;
  height: 35px;
  position: absolute;
  top: 17em;
  left: 8.5em;
}
div.detail-top h1.top-title {
  position: absolute;
  left: 1em;
  top: -2.5em;
  font-size: 28px;
  width: 300px;
  font-weight: normal;
  font-family: robto, sans-serif;
}
div.detail-top h2.sec-title {
  position: absolute;
  left: 1.7em;
  top: -1.5em;
  font-size: 16px;
  font-weight: lighter;
  font-family: robto, sans-serif;
}

div.nav-add {
  position: absolute;
  top: 20em;
  left: 5em;
  background-color: #E4E7D9;
  height: 80px;
  width: 360px;
}
div.nav-add h3.add-nav {
  font-family: nunito, sans-serif;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  left: 5.5em;
  top: -0.3em;
  width: 200px;
  background-color: #4B7D59;
  border-radius: 4px;
  width: 200px;
  height: 40px;
  text-align: center;
  color: #fff;
}
div.nav-add h1.add-price {
  position: absolute;
  left: 0.5em;
  font-size: 24px;
  font-weight: bold;
  font-family: roboto, sans-serif;
}
div.nav-add h2.add-ship {
  position: absolute;
  top: 2em;
  left: 0.7em;
  font-size: 16px;
  font-weight: lighter;
  font-family: roboto, sans-serif;
  width: 200px;
}

div.nav-spec {
  position: absolute;
  top: 38em;
}
div.nav-spec h1.spec-title {
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  top: 1em;
  left: 1.5em;
  z-index: 500;
}
div.nav-spec div.close-item h2.back-text {
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  left: 1.5em;
  top: 3.5em;
}
div.nav-spec div.close-item h2.spec-head {
  background-color: #E4E7D9;
  width: 415px;
  height: 30px;
  position: absolute;
  top: 3em;
  left: 1.3em;
  padding: 0.5em;
}
div.nav-spec div.close-item svg.div-line1 {
  position: absolute;
  top: 22em;
  width: 480px;
  height: 1px;
}
div.nav-spec div.close-item div.spec-des {
  position: absolute;
  top: 10em;
  left: 4em;
}
div.nav-spec div.close-item div.spec-des h2.spec-genre {
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  top: -1.9em;
  left: -1.8em;
  border: 2px solid #E4E7D9;
  width: 240px;
  height: 24.5px;
  padding-top: 0.5em;
  padding-left: 0.5em;
}
div.nav-spec div.close-item div.spec-des h2.spec-platform {
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  top: 0.3em;
  left: -1.8em;
  border: 2px solid #E4E7D9;
  width: 240px;
  height: 24.5px;
  padding-top: 0.5em;
  padding-left: 0.5em;
}
div.nav-spec div.close-item div.spec-des h2.spec-esrb {
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  top: 2.5em;
  left: -1.8em;
  border: 2px solid #E4E7D9;
  width: 240px;
  height: 24px;
  padding-top: 0.5em;
  padding-left: 0.5em;
}
div.nav-spec div.close-item div.spec-des h2.spec-pegi {
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  top: 4.7em;
  left: -1.8em;
  border: 2px solid #E4E7D9;
  width: 240px;
  height: 24.5px;
  padding-top: 0.5em;
  padding-left: 0.5em;
}
div.nav-spec div.close-item div.spec-des h2.spec-multi {
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  top: 7em;
  left: -1.8em;
  border: 2px solid #E4E7D9;
  width: 240px;
  height: 24.5px;
  padding-top: 0.5em;
  padding-left: 0.5em;
}
div.nav-spec div.close-item div.spec-info {
  position: absolute;
  top: 8em;
  left: 20em;
}
div.nav-spec div.close-item div.spec-info h2.spec-sport {
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  top: -0.2em;
  left: -2.1em;
  border: 2px solid #E4E7D9;
  width: 175px;
  height: 25px;
  padding-top: 0.5em;
  padding-left: 0.5em;
}
div.nav-spec div.close-item div.spec-info h2.spec-play {
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  top: 2.1em;
  left: -2.1em;
  border: 2px solid #E4E7D9;
  width: 175px;
  height: 24.5px;
  padding-top: 0.5em;
  padding-left: 0.5em;
}
div.nav-spec div.close-item div.spec-info h2.spec-for {
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  top: 4.3em;
  left: -2.1em;
  border: 2px solid #E4E7D9;
  width: 175px;
  height: 24.5px;
  padding-top: 0.5em;
  padding-left: 0.5em;
}
div.nav-spec div.close-item div.spec-info h2.spec-age {
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  top: 6.5em;
  left: -2.1em;
  border: 2px solid #E4E7D9;
  width: 175px;
  height: 24.5px;
  padding-top: 0.5em;
  padding-left: 0.5em;
}
div.nav-spec div.close-item div.spec-info h2.spec-num {
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  top: 8.8em;
  left: -2.1em;
  border: 2px solid #E4E7D9;
  width: 175px;
  height: 24.5px;
  padding-top: 0.5em;
  padding-left: 0.5em;
}

div.close-info {
  position: absolute;
  top: 60em;
}
div.close-info svg.div-line {
  position: absolute;
  top: 0em;
  left: 0.2em;
  width: 490px;
  height: 1px;
}
div.close-info h1.close-producte-title {
  font-size: 24px;
  position: absolute;
  top: 0em;
  left: 1.5em;
  width: 300px;
}

div.close-producte {
  position: absolute;
  top: 2em;
  left: 2.2em;
}
div.close-producte h1.close-game-title {
  width: 200px;
  font-size: 30px;
  font-weight: normal;
  position: absolute;
  top: 0.1em;
}
div.close-producte p {
  position: absolute;
  top: 2.5em;
  width: 390px;
  font-size: 20px;
  font-weight: lighter;
}

@media only screen and (min-width: 700px) {
  label.nav-toggle-lable {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  header nav {
    all: unset;
    grid-column: 2/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header nav a {
    opacity: 1;
    color: #fff;
    font-size: 16px;
    position: relative;
  }
  header nav li {
    margin-top: 0;
    position: relative;
    right: 6em;
  }
  header nav ul {
    display: flex;
  }
  header .shoppingcart {
    position: absolute;
    left: 40em;
  }
  img.vr-man {
    height: 200px;
    -o-object-position: left 65%;
       object-position: left 65%;
    background: url("vr.jpg");
    background-color: linear-gradient(#FFFBFB);
    opacity: 0.8;
  }
  .title {
    color: #fff;
    position: absolute;
    top: 8em;
    left: 4em;
  }
  .info {
    position: absolute;
    left: 8em;
    width: 30em;
  }
  svg.div-line1 {
    display: none;
  }
  svg.div-line {
    display: none;
  }
  nav a::after {
    content: "";
    display: block;
    height: 5px;
    background: rgb(252, 252, 252);
    position: absolute;
    top: 10;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  nav a:hover::after {
    transform: scale(1, 1);
  }
  footer div.sosical-media {
    display: inline;
    position: absolute;
    left: 40em;
    top: 3em;
  }
  footer div.footer-col {
    position: absolute;
    left: 8em;
  }
  img.service-man {
    height: 200px;
    -o-object-position: left 45%;
       object-position: left 45%;
    background: url("vr.jpg");
    background-color: linear-gradient(#FFFBFB);
    opacity: 0.8;
  }
  h1.title-2 {
    position: absolute;
    top: 4em;
    left: 2em;
  }
}
@media screen and (min-width: 800px) {
  label.nav-toggle-lable {
    display: none;
  }
  img.vr-man {
    height: 200px;
    -o-object-position: left 65%;
       object-position: left 65%;
  }
  img.service-man {
    height: 250px;
    -o-object-position: left 40%;
       object-position: left 40%;
  }
  div.info-text .chat {
    position: absolute;
    top: 21em;
    left: 10em;
  }
  div.info-text .time {
    position: absolute;
    top: 22.5em;
    left: 10em;
  }
  div.info-text .call {
    position: absolute;
    top: 25em;
    left: 10em;
  }
  div.info-text .time-2 {
    position: absolute;
    top: 26.5em;
    left: 10em;
  }
  div.info-text .end-text {
    position: absolute;
    top: 21em;
    left: 27em;
  }
  div.hero-send a h3:hover {
    background-color: #11BF42;
  }
  div.detail-top svg.rate {
    width: 149px;
    height: 35px;
    position: absolute;
    top: 0.7em;
    left: 22em;
  }
  div.nav-add {
    position: absolute;
    top: 4.5em;
    left: 21em;
    height: 120px;
  }
  div.nav-add h3.add-nav {
    position: absolute;
    top: 1.5em;
    left: 0.4em;
    width: 300px;
    height: 40px;
  }
  div.nav-add h1.add-price {
    position: absolute;
    top: -0.5em;
  }
  div.nav-add h2.add-ship {
    position: absolute;
    top: 1.3em;
  }
  div.nav-add a h3:hover {
    background-color: #11BF42;
  }
  div.nav-spec {
    position: absolute;
    top: 27em;
  }
  div.nav-spec div.close-item {
    width: 100%;
    height: 500px;
    background-color: #fff;
  }
  div.nav-spec div.close-item h2.back-text {
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    left: 1.5em;
    top: 3.5em;
  }
  div.nav-spec div.close-item h2.spec-head {
    background-color: #E4E7D9;
    width: 440px;
    height: 50px;
    position: absolute;
    top: 3em;
    left: 1.3em;
  }
  div.nav-spec div.close-item svg.div-line1 {
    position: absolute;
    top: 22em;
    width: 480px;
    height: 1px;
  }
  div.nav-spec div.close-item div.spec-des {
    position: absolute;
    top: 10em;
    left: 4em;
  }
  div.nav-spec div.close-item div.spec-des h2.spec-genre {
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    top: -1.9em;
    left: -1.8em;
    border: 2px solid #E4E7D9;
    width: 240px;
    height: 24.5px;
    padding-top: 0.5em;
    padding-left: 0.5em;
  }
  div.nav-spec div.close-item div.spec-des h2.spec-platform {
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    top: 0.3em;
    left: -1.8em;
    border: 2px solid #E4E7D9;
    width: 240px;
    height: 24.5px;
    padding-top: 0.5em;
    padding-left: 0.5em;
  }
  div.nav-spec div.close-item div.spec-des h2.spec-esrb {
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    top: 2.5em;
    left: -1.8em;
    border: 2px solid #E4E7D9;
    width: 240px;
    height: 24px;
    padding-top: 0.5em;
    padding-left: 0.5em;
  }
  div.nav-spec div.close-item div.spec-des h2.spec-pegi {
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    top: 4.7em;
    left: -1.8em;
    border: 2px solid #E4E7D9;
    width: 240px;
    height: 24.5px;
    padding-top: 0.5em;
    padding-left: 0.5em;
  }
  div.nav-spec div.close-item div.spec-des h2.spec-multi {
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    top: 7em;
    left: -1.8em;
    border: 2px solid #E4E7D9;
    width: 240px;
    height: 24.5px;
    padding-top: 0.5em;
    padding-left: 0.5em;
  }
  div.nav-spec div.close-item div.spec-info {
    position: absolute;
    top: 8em;
    left: 20em;
  }
  div.nav-spec div.close-item div.spec-info h2.spec-sport {
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    top: -0.2em;
    left: -2.1em;
    border: 2px solid #E4E7D9;
    width: 175px;
    height: 25px;
    padding-top: 0.5em;
    padding-left: 0.5em;
  }
  div.nav-spec div.close-item div.spec-info h2.spec-play {
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    top: 2.1em;
    left: -2.1em;
    border: 2px solid #E4E7D9;
    width: 175px;
    height: 24.5px;
    padding-top: 0.5em;
    padding-left: 0.5em;
  }
  div.nav-spec div.close-item div.spec-info h2.spec-for {
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    top: 4.3em;
    left: -2.1em;
    border: 2px solid #E4E7D9;
    width: 175px;
    height: 24.5px;
    padding-top: 0.5em;
    padding-left: 0.5em;
  }
  div.nav-spec div.close-item div.spec-info h2.spec-age {
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    top: 6.5em;
    left: -2.1em;
    border: 2px solid #E4E7D9;
    width: 175px;
    height: 24.5px;
    padding-top: 0.5em;
    padding-left: 0.5em;
  }
  div.nav-spec div.close-item div.spec-info h2.spec-num {
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    top: 8.8em;
    left: -2.1em;
    border: 2px solid #E4E7D9;
    width: 175px;
    height: 24.5px;
    padding-top: 0.5em;
    padding-left: 0.5em;
  }
  div.close-info {
    position: absolute;
    top: 53em;
  }
  div.text-box {
    position: absolute;
    top: -7em;
    left: 25em;
  }
  header {
    display: grid;
    grid-template-columns: 5fr auto minmax(900px, 3fr) 3fr;
    width: 1440px;
    height: 97px;
  }
  header .logo {
    position: absolute;
    left: 5em;
    top: 1em;
    width: 112px;
    height: 63px;
  }
  header nav {
    all: unset;
    grid-column: 1/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header nav a {
    opacity: 1;
    color: #fff;
    font-size: 14px;
    position: relative;
  }
  header nav li {
    margin-top: 0;
    margin-right: 1em;
    position: relative;
    right: 35em;
  }
  header nav ul {
    display: flex;
  }
  header .shoppingcart {
    position: absolute;
    left: 45em;
    bottom: 2em;
    width: 2em;
    height: 2em;
  }
  footer {
    height: 96px;
  }
  footer div.sosical-media {
    display: inline;
    position: absolute;
    left: 47em;
    top: 2em;
  }
  footer div.sosical-media svg.face {
    width: 14px;
    height: 32px;
  }
  footer div.sosical-media svg.tik-tok {
    width: 24px;
    height: 32px;
  }
  footer div.sosical-media svg.insta {
    width: 25px;
    width: 32px;
  }
  footer div.footer-col {
    position: absolute;
    left: 10em;
  }
  div.footer-detail footer {
    height: 96px;
  }
  div.footer-detail footer div.sosical-media {
    display: inline;
    position: absolute;
    left: 47em;
    top: 2em;
  }
  div.footer-detail footer div.sosical-media svg.face {
    width: 14px;
    height: 32px;
  }
  div.footer-detail footer div.sosical-media svg.tik-tok {
    width: 24px;
    height: 32px;
  }
  div.footer-detail footer div.sosical-media svg.insta {
    width: 25px;
    width: 32px;
  }
  div.footer-detail footer div.footer-col {
    position: absolute;
    left: 10em;
  }
}
@media screen and (min-width: 900px) {
  label.nav-toggle-lable {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 5fr auto minmax(900px, 3fr) 3fr;
    width: 1440px;
    height: 97px;
  }
  header .logo {
    position: absolute;
    left: 5em;
    top: 1em;
    width: 112px;
    height: 63px;
  }
  header nav {
    all: unset;
    grid-column: 1/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header nav a {
    opacity: 1;
    color: #fff;
    font-size: 14px;
    position: relative;
  }
  header nav li {
    margin-top: 0;
    margin-right: 1em;
    position: relative;
    right: 35em;
  }
  header nav ul {
    display: flex;
  }
  header .shoppingcart {
    position: absolute;
    left: 50em;
    bottom: 2em;
    width: 2em;
    height: 2em;
  }
  img.vr-man {
    height: 250px;
    -o-object-position: left 70%;
       object-position: left 70%;
  }
  .info {
    position: absolute;
    top: 15em;
    left: 5em;
    font-weight: normal;
    font-size: 22px;
    width: 30em;
  }
  .info p.text {
    position: absolute;
    top: 3.5em;
  }
  footer {
    height: 96px;
  }
  footer div.sosical-media {
    display: inline;
    position: absolute;
    left: 52.5em;
    top: 2em;
  }
  footer div.sosical-media svg.face {
    width: 14px;
    height: 32px;
  }
  footer div.sosical-media svg.tik-tok {
    width: 24px;
    height: 32px;
  }
  footer div.sosical-media svg.insta {
    width: 25px;
    width: 32px;
  }
  footer div.footer-col {
    position: absolute;
    left: 10em;
  }
}
@media screen and (min-width: 930px) {
  label.nav-toggle-lable {
    display: none;
  }
  img.service-man {
    height: 250px;
    -o-object-position: left 47%;
       object-position: left 47%;
  }
  h1.title-2 {
    position: absolute;
    top: 2.5em;
    left: 1em;
    font-size: 50px;
  }
  header {
    display: grid;
    grid-template-columns: 5fr auto minmax(900px, 3fr) 3fr;
    width: 1440px;
    height: 97px;
  }
  header .logo {
    position: absolute;
    left: 5em;
    top: 1em;
    width: 112px;
    height: 63px;
  }
  header nav {
    all: unset;
    grid-column: 1/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header nav a {
    opacity: 1;
    color: #fff;
    font-size: 14px;
    position: relative;
  }
  header nav li {
    margin-top: 0;
    margin-right: 2em;
    position: relative;
    right: 32em;
  }
  header nav ul {
    display: flex;
  }
  header .shoppingcart {
    position: absolute;
    left: 52em;
    width: 2.5em;
    height: 2.5em;
  }
}
@media screen and (min-width: 1030px) {
  label.nav-toggle-lable {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 5fr auto minmax(900px, 3fr) 3fr;
    width: 1440px;
    height: 97px;
  }
  header .logo {
    position: absolute;
    left: 5em;
    top: 1em;
    width: 112px;
    height: 63px;
  }
  header nav {
    all: unset;
    grid-column: 1/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header nav a {
    opacity: 1;
    color: #fff;
    font-size: 14px;
    position: relative;
  }
  header nav li {
    margin-top: 0;
    margin-right: 2em;
    position: relative;
    right: 32em;
  }
  header nav ul {
    display: flex;
  }
  header .shoppingcart {
    position: absolute;
    left: 57em;
    width: 2.5em;
    height: 2.5em;
  }
  img.vr-man {
    height: 250px;
    -o-object-position: left 70%;
       object-position: left 70%;
  }
  footer {
    height: 96px;
  }
  footer div.sosical-media {
    display: inline;
    position: absolute;
    left: 60em;
    top: 2em;
  }
  footer div.sosical-media svg.face {
    width: 14px;
    height: 32px;
  }
  footer div.sosical-media svg.tik-tok {
    width: 24px;
    height: 32px;
  }
  footer div.sosical-media svg.insta {
    width: 25px;
    width: 32px;
  }
  footer div.footer-col {
    position: absolute;
    left: 15em;
  }
  img.logo-footer {
    position: absolute;
    left: 5em;
    top: 1em;
    width: 112px;
    height: 63px;
  }
}
@media screen and (min-width: 1200px) {
  label.nav-toggle-lable {
    display: none;
  }
  img.vr-man {
    height: 350px;
    -o-object-position: left 65%;
       object-position: left 65%;
  }
  .title {
    position: absolute;
    top: 5em;
    left: 1em;
    font-size: 35px;
  }
  .info {
    position: absolute;
    top: 20em;
  }
  img.service-man {
    height: 350px;
    -o-object-position: left 50%;
       object-position: left 50%;
  }
  h1.title-2 {
    position: absolute;
    top: 2.5em;
    left: 2em;
    font-size: 63px;
  }
  div.info-text .chat {
    position: absolute;
    top: 22em;
    left: 18em;
    font-size: 20px;
  }
  div.info-text .time {
    position: absolute;
    top: 23.5em;
    left: 18em;
    font-size: 20px;
  }
  div.info-text .call {
    position: absolute;
    top: 25.5em;
    left: 18em;
    font-size: 20px;
  }
  div.info-text .time-2 {
    position: absolute;
    top: 26.5em;
    left: 18em;
    font-size: 20px;
  }
  div.info-text .end-text {
    position: absolute;
    top: 22em;
    left: 37em;
    font-size: 20px;
  }
  div.nav-spec h1.spec-title {
    position: absolute;
    top: 0.5em;
  }
  div.nav-spec div.close-item h2.spec-head {
    position: absolute;
    top: 2em;
    width: 17.3em;
  }
  div.text-box {
    position: absolute;
    top: -5em;
    left: 35em;
    font-size: 20px;
  }
  div.text-box label.hero-name {
    position: absolute;
    top: 0.5em;
  }
  div.text-box label.hero-email {
    position: absolute;
    top: 4em;
  }
  div.text-box label.hero-message {
    position: absolute;
    top: 8em;
  }
  div.hero-send {
    position: absolute;
    top: 47.5em;
    width: 123px;
    height: 35px;
  }
  header {
    display: grid;
    grid-template-columns: 5fr auto minmax(900px, 3fr) 3fr;
    width: 1440px;
    height: 97px;
  }
  header .logo {
    position: absolute;
    left: 5em;
    top: 1em;
    width: 112px;
    height: 63px;
  }
  header nav {
    all: unset;
    grid-column: 1/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header nav a {
    opacity: 1;
    color: #fff;
    font-size: 14px;
    position: relative;
  }
  header nav li {
    margin-top: 0;
    margin-right: 4em;
    position: relative;
    right: 22em;
  }
  header nav ul {
    display: flex;
  }
  header .shoppingcart {
    position: absolute;
    left: 68em;
    width: 2.5em;
    height: 2.5em;
  }
  footer {
    position: absolute;
    top: 1000px;
    height: 96px;
  }
  footer div.sosical-media {
    display: inline;
    position: absolute;
    left: 70em;
    top: 2em;
  }
  footer div.sosical-media svg.face {
    width: 14px;
    height: 32px;
  }
  footer div.sosical-media svg.tik-tok {
    width: 24px;
    height: 32px;
  }
  footer div.sosical-media svg.insta {
    width: 25px;
    width: 32px;
  }
  footer div.footer-col {
    position: absolute;
    left: 16em;
  }
}
@media screen and (min-width: 1400px) {
  label.nav-toggle-lable {
    display: none;
  }
  div.detail-top h2.sec-title {
    position: absolute;
    top: -2em;
  }
  header {
    display: grid;
    grid-template-columns: 5fr auto minmax(900px, 3fr) 3fr;
    height: 97px;
  }
  header .logo {
    position: absolute;
    left: 5em;
    top: 1em;
    width: 112px;
    height: 63px;
  }
  header nav {
    all: unset;
    grid-column: 1/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header nav a {
    opacity: 1;
    color: #fff;
    font-size: 14px;
    position: relative;
  }
  header nav li {
    margin-top: 0;
    margin-right: 4em;
    position: relative;
    right: 22em;
  }
  header nav ul {
    display: flex;
  }
  header .shoppingcart {
    position: absolute;
    left: 80em;
    width: 2.5em;
    height: 2.5em;
  }
  div.close-info {
    position: absolute;
    top: 21.5em;
    left: 18em;
  }
  div.close-info h1.close-producte-title {
    position: absolute;
    left: 13.5em;
    top: 5em;
  }
  div.close-info div.close-producte {
    position: absolute;
    top: 11em;
    left: 20em;
    border: solid #E4E7D9;
    width: 400px;
    height: 220px;
  }
  div.close-info div.close-producte h1.close-game-title {
    width: 200px;
    font-size: 30px;
    font-weight: normal;
    position: absolute;
    top: -0.5em;
  }
  div.close-info div.close-producte p {
    position: absolute;
    top: 1.5em;
    width: 390px;
    font-size: 20px;
    font-weight: lighter;
  }
  .info {
    position: absolute;
    left: 10em;
    width: 40em;
  }
  .info p.text {
    position: absolute;
    top: 2.3em;
  }
  img.service-man {
    height: 400px;
    -o-object-position: left 50%;
       object-position: left 50%;
  }
  h1.title-2 {
    position: absolute;
    top: 3em;
    left: 1em;
    font-size: 63px;
  }
  div.info-text .chat {
    position: absolute;
    top: 24em;
    left: 18em;
    font-size: 20px;
  }
  div.info-text .time {
    position: absolute;
    top: 25.5em;
    left: 18em;
    font-size: 20px;
  }
  div.info-text .call {
    position: absolute;
    top: 27.5em;
    left: 18em;
    font-size: 20px;
  }
  div.info-text .time-2 {
    position: absolute;
    top: 29em;
    left: 18em;
    font-size: 20px;
  }
  div.info-text .end-text {
    position: absolute;
    top: 24em;
    left: 37em;
    font-size: 20px;
  }
  div.text-box {
    position: absolute;
    top: -3em;
    left: 35em;
    font-size: 20px;
  }
  div.text-box label.hero-name {
    position: absolute;
    top: 0.5em;
  }
  div.text-box label.hero-email {
    position: absolute;
    top: 4em;
  }
  div.text-box label.hero-message {
    position: absolute;
    top: 8em;
  }
  div.hero-send {
    position: absolute;
    top: 47.5em;
  }
  div.footer-detail footer {
    height: 96px;
    position: absolute;
    top: 900px;
  }
  div.footer-detail footer div.sosical-media {
    display: inline;
    position: absolute;
    left: 82em;
    top: 2em;
  }
  div.footer-detail footer div.sosical-media svg.face {
    width: 14px;
    height: 32px;
  }
  div.footer-detail footer div.sosical-media svg.tik-tok {
    width: 24px;
    height: 32px;
  }
  div.footer-detail footer div.sosical-media svg.insta {
    width: 25px;
    width: 32px;
  }
  div.footer-detail footer div.footer-col {
    position: absolute;
    left: 15em;
  }
  footer {
    height: 96px;
    position: absolute;
    top: 1100px;
  }
  footer div.sosical-media {
    display: inline;
    position: absolute;
    left: 82em;
    top: 2em;
  }
  footer div.sosical-media svg.face {
    width: 14px;
    height: 32px;
  }
  footer div.sosical-media svg.tik-tok {
    width: 24px;
    height: 32px;
  }
  footer div.sosical-media svg.insta {
    width: 25px;
    width: 32px;
  }
  footer div.footer-col {
    position: absolute;
    left: 15em;
  }
}/*# sourceMappingURL=about.css.map */