body {
  margin: 0;
  font-family: roboto, sans-serif;
  font-weight: normal;
}

header {
  background-color: #4B7D59;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 80px;
}
header .logo {
  margin: 0;
  height: 64px;
  width: 90px;
  position: absolute;
  left: 2em;
  top: 0.2em;
}
header .nav-toggle {
  display: none;
}
header .nav-toggle-lable {
  position: absolute;
  top: 0;
  left: 22em;
  height: 100%;
  display: flex;
  align-items: center;
}
header .nav-toggle-lable span {
  color: #4B7D59;
}
header .nav-toggle-lable span,
header .nav-toggle-lable span::before,
header .nav-toggle-lable span::after {
  display: block;
  background: #fff;
  height: 2px;
  width: 2em;
  position: relative;
}
header .nav-toggle-lable span::before,
header .nav-toggle-lable span::after {
  content: "";
  position: absolute;
}
header .nav-toggle-lable span::before {
  bottom: 7px;
}
header .nav-toggle-lable span::after {
  top: 7px;
}
header nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: rgb(255, 253, 253);
  width: 100%;
  transform-origin: top;
  transform: scale(1, 0);
  transition: transform 400ms ease-in-out;
}
header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
header nav li {
  margin-top: 1em;
  margin-left: 2em;
}
header nav a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
header nav a:hover {
  color: #11BF42;
}
header .nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}
header .nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
header .shoppingcart {
  display: flex;
  width: 2em;
  height: 2em;
  position: absolute;
  left: 27em;
  bottom: 1.5em;
}

.product-container .black-image {
  height: 159px;
  width: 122px;
  position: absolute;
  top: 120px;
  left: 47px;
}
.product-container div.info {
  font-family: roboto, sans-serif;
}
.product-container .title {
  position: absolute;
  top: 17em;
  left: 1.5em;
  font-weight: normal;
  font-size: 16px;
}
.product-container .price {
  position: absolute;
  top: 13.3em;
  left: 6.5em;
  font-size: 20px;
  font-weight: bold;
}
.product-container .console {
  position: absolute;
  top: 29.2em;
  left: 2.3em;
  font-weight: lighter;
  font-size: 10px;
}
.product-container div.action-button-1 {
  font-family: nunito, sans-serif;
  font-weight: bolder;
  font-size: 20px;
}
.product-container div.action-button-1 .add {
  background-color: #4B7D59;
  border-radius: 4px;
  position: absolute;
  top: 12.9em;
  left: 1em;
  width: 168px;
  height: 35px;
  text-align: center;
}
.product-container div.action-button-1 a {
  color: #fff;
}
.product-container div.action-button-2 {
  font-family: nunito, sans-serif;
  font-weight: bolder;
  font-size: 20px;
}
.product-container div.action-button-2 .detail {
  background-color: #1E7B9C;
  border-radius: 4px;
  position: absolute;
  top: 14.7em;
  left: 1em;
  width: 168px;
  height: 35px;
  text-align: center;
}
.product-container div.action-button-2 a {
  color: #fff;
}

.product-container-2 {
  position: absolute;
  left: 15em;
}
.product-container-2 .furious-image {
  height: 159px;
  width: 122px;
  position: absolute;
  top: 120px;
  left: 47px;
}
.product-container-2 div.info {
  font-family: roboto, sans-serif;
}
.product-container-2 .title {
  position: absolute;
  top: 17em;
  left: 1.5em;
  font-weight: normal;
  font-size: 16px;
}
.product-container-2 .price {
  position: absolute;
  top: 13.3em;
  left: 6.5em;
  font-size: 20px;
  font-weight: bold;
}
.product-container-2 .console {
  position: absolute;
  top: 29.2em;
  left: 2.3em;
  font-weight: lighter;
  font-size: 10px;
}
.product-container-2 div.action-button-1 {
  font-family: nunito, sans-serif;
  font-weight: bolder;
  font-size: 20px;
}
.product-container-2 div.action-button-1 .add {
  background-color: #4B7D59;
  border-radius: 4px;
  position: absolute;
  top: 12.9em;
  left: 1em;
  width: 168px;
  height: 35px;
  text-align: center;
}
.product-container-2 div.action-button-1 a {
  color: #fff;
}
.product-container-2 div.action-button-2 {
  font-family: nunito, sans-serif;
  font-weight: bolder;
  font-size: 20px;
}
.product-container-2 div.action-button-2 .detail {
  background-color: #1E7B9C;
  border-radius: 4px;
  position: absolute;
  top: 14.7em;
  left: 1em;
  width: 168px;
  height: 35px;
  text-align: center;
}
.product-container-2 div.action-button-2 a {
  color: #fff;
}

.product-container-3 {
  position: absolute;
  left: 0em;
  top: 20em;
}
.product-container-3 .ping-pong-image {
  height: 159px;
  width: 122px;
  position: absolute;
  top: 120px;
  left: 47px;
}
.product-container-3 div.info {
  font-family: roboto, sans-serif;
}
.product-container-3 .title {
  position: absolute;
  top: 17em;
  left: 1.5em;
  font-weight: normal;
  font-size: 16px;
  width: 6em;
}
.product-container-3 .price {
  position: absolute;
  top: 13.3em;
  left: 6.5em;
  font-size: 20px;
  font-weight: bold;
}
.product-container-3 .console {
  position: absolute;
  top: 29.2em;
  left: 2.3em;
  font-weight: lighter;
  font-size: 10px;
}
.product-container-3 div.action-button-1 {
  font-family: nunito, sans-serif;
  font-weight: bolder;
  font-size: 20px;
}
.product-container-3 div.action-button-1 .add {
  background-color: #4B7D59;
  border-radius: 4px;
  position: absolute;
  top: 12.9em;
  left: 1em;
  width: 168px;
  height: 35px;
  text-align: center;
}
.product-container-3 div.action-button-1 a {
  color: #fff;
}
.product-container-3 div.action-button-2 {
  font-family: nunito, sans-serif;
  font-weight: bolder;
  font-size: 20px;
}
.product-container-3 div.action-button-2 .detail {
  background-color: #1E7B9C;
  border-radius: 4px;
  position: absolute;
  top: 14.7em;
  left: 1em;
  width: 168px;
  height: 35px;
  text-align: center;
}
.product-container-3 div.action-button-2 a {
  color: #fff;
}

.product-container-4 {
  position: absolute;
  left: 15em;
  top: 20em;
}
.product-container-4 .assassin-image {
  height: 159px;
  width: 122px;
  position: absolute;
  top: 120px;
  left: 47px;
}
.product-container-4 div.info {
  font-family: roboto, sans-serif;
}
.product-container-4 .title {
  position: absolute;
  top: 17em;
  left: 1.5em;
  font-weight: normal;
  font-size: 16px;
}
.product-container-4 .price {
  position: absolute;
  top: 13.3em;
  left: 6.5em;
  font-size: 20px;
  font-weight: bold;
}
.product-container-4 .console {
  position: absolute;
  top: 29.2em;
  left: 2.3em;
  font-weight: lighter;
  font-size: 10px;
}
.product-container-4 div.action-button-1 {
  font-family: nunito, sans-serif;
  font-weight: bolder;
  font-size: 20px;
}
.product-container-4 div.action-button-1 .add {
  background-color: #4B7D59;
  border-radius: 4px;
  position: absolute;
  top: 12.9em;
  left: 1em;
  width: 168px;
  height: 35px;
  text-align: center;
}
.product-container-4 div.action-button-1 a {
  color: #fff;
}
.product-container-4 div.action-button-2 {
  font-family: nunito, sans-serif;
  font-weight: bolder;
  font-size: 20px;
}
.product-container-4 div.action-button-2 .detail {
  background-color: #1E7B9C;
  border-radius: 4px;
  position: absolute;
  top: 14.7em;
  left: 1em;
  width: 168px;
  height: 35px;
  text-align: center;
}
.product-container-4 div.action-button-2 a {
  color: #fff;
}

.product-container-5 {
  position: absolute;
  left: 0em;
  top: 40em;
}
.product-container-5 .space-war-image {
  height: 159px;
  width: 122px;
  position: absolute;
  top: 120px;
  left: 47px;
}
.product-container-5 div.info {
  font-family: roboto, sans-serif;
}
.product-container-5 .title {
  position: absolute;
  top: 17em;
  left: 1.5em;
  font-weight: normal;
  font-size: 16px;
  width: 6em;
}
.product-container-5 .price {
  position: absolute;
  top: 13.3em;
  left: 6.5em;
  font-size: 20px;
  font-weight: bold;
}
.product-container-5 .console {
  position: absolute;
  top: 29.2em;
  left: 2.3em;
  font-weight: lighter;
  font-size: 10px;
}
.product-container-5 div.action-button-1 {
  font-family: nunito, sans-serif;
  font-weight: bolder;
  font-size: 20px;
}
.product-container-5 div.action-button-1 .add {
  background-color: #4B7D59;
  border-radius: 4px;
  position: absolute;
  top: 12.9em;
  left: 1em;
  width: 168px;
  height: 35px;
  text-align: center;
}
.product-container-5 div.action-button-1 a {
  color: #fff;
}
.product-container-5 div.action-button-2 {
  font-family: nunito, sans-serif;
  font-weight: bolder;
  font-size: 20px;
}
.product-container-5 div.action-button-2 .detail {
  background-color: #1E7B9C;
  border-radius: 4px;
  position: absolute;
  top: 14.7em;
  left: 1em;
  width: 168px;
  height: 35px;
  text-align: center;
}
.product-container-5 div.action-button-2 a {
  color: #fff;
}

.product-container-6 {
  position: absolute;
  left: 15em;
  top: 40em;
}
.product-container-6 .racing-image {
  height: 159px;
  width: 122px;
  position: absolute;
  top: 120px;
  left: 47px;
}
.product-container-6 div.info {
  font-family: roboto, sans-serif;
}
.product-container-6 .title {
  position: absolute;
  top: 17em;
  left: 1.5em;
  font-weight: normal;
  font-size: 16px;
}
.product-container-6 .price {
  position: absolute;
  top: 13.3em;
  left: 6.5em;
  font-size: 20px;
  font-weight: bold;
}
.product-container-6 .console {
  position: absolute;
  top: 29.2em;
  left: 2.3em;
  font-weight: lighter;
  font-size: 10px;
}
.product-container-6 div.action-button-1 {
  font-family: nunito, sans-serif;
  font-weight: bolder;
  font-size: 20px;
}
.product-container-6 div.action-button-1 .add {
  background-color: #4B7D59;
  border-radius: 4px;
  position: absolute;
  top: 12.9em;
  left: 1em;
  width: 168px;
  height: 35px;
  text-align: center;
}
.product-container-6 div.action-button-1 a {
  color: #fff;
}
.product-container-6 div.action-button-2 {
  font-family: nunito, sans-serif;
  font-weight: bolder;
  font-size: 20px;
}
.product-container-6 div.action-button-2 .detail {
  background-color: #1E7B9C;
  border-radius: 4px;
  position: absolute;
  top: 14.7em;
  left: 1em;
  width: 168px;
  height: 35px;
  text-align: center;
}
.product-container-6 div.action-button-2 a {
  color: #fff;
}

.product-container-7 {
  position: absolute;
  left: 0em;
  top: 60em;
}
.product-container-7 .boxer-image {
  height: 159px;
  width: 122px;
  position: absolute;
  top: 120px;
  left: 47px;
}
.product-container-7 div.info {
  font-family: roboto, sans-serif;
}
.product-container-7 .title {
  position: absolute;
  top: 17em;
  left: 1.5em;
  font-weight: normal;
  font-size: 16px;
}
.product-container-7 .price {
  position: absolute;
  top: 13.3em;
  left: 6.5em;
  font-size: 20px;
  font-weight: bold;
}
.product-container-7 .console {
  position: absolute;
  top: 29.2em;
  left: 2.3em;
  font-weight: lighter;
  font-size: 10px;
}
.product-container-7 div.action-button-1 {
  font-family: nunito, sans-serif;
  font-weight: bolder;
  font-size: 20px;
}
.product-container-7 div.action-button-1 .add {
  background-color: #4B7D59;
  border-radius: 4px;
  position: absolute;
  top: 12.9em;
  left: 1em;
  width: 168px;
  height: 35px;
  text-align: center;
}
.product-container-7 div.action-button-1 a {
  color: #fff;
}
.product-container-7 div.action-button-2 {
  font-family: nunito, sans-serif;
  font-weight: bolder;
  font-size: 20px;
}
.product-container-7 div.action-button-2 .detail {
  background-color: #1E7B9C;
  border-radius: 4px;
  position: absolute;
  top: 14.7em;
  left: 1em;
  width: 168px;
  height: 35px;
  text-align: center;
}
.product-container-7 div.action-button-2 a {
  color: #fff;
}

.product-container-8 {
  position: absolute;
  left: 15em;
  top: 60em;
}
.product-container-8 .cyberpunk-image {
  height: 159px;
  width: 122px;
  position: absolute;
  top: 120px;
  left: 47px;
}
.product-container-8 div.info {
  font-family: roboto, sans-serif;
}
.product-container-8 .title {
  position: absolute;
  top: 17em;
  left: 1.5em;
  font-weight: normal;
  font-size: 16px;
}
.product-container-8 .price {
  position: absolute;
  top: 13.3em;
  left: 6.5em;
  font-size: 20px;
  font-weight: bold;
}
.product-container-8 .console {
  position: absolute;
  top: 29.2em;
  left: 2.3em;
  font-weight: lighter;
  font-size: 10px;
}
.product-container-8 div.action-button-1 {
  font-family: nunito, sans-serif;
  font-weight: bolder;
  font-size: 20px;
}
.product-container-8 div.action-button-1 .add {
  background-color: #4B7D59;
  border-radius: 4px;
  position: absolute;
  top: 12.9em;
  left: 1em;
  width: 168px;
  height: 35px;
  text-align: center;
}
.product-container-8 div.action-button-1 a {
  color: #fff;
}
.product-container-8 div.action-button-2 {
  font-family: nunito, sans-serif;
  font-weight: bolder;
  font-size: 20px;
}
.product-container-8 div.action-button-2 .detail {
  background-color: #1E7B9C;
  border-radius: 4px;
  position: absolute;
  top: 14.7em;
  left: 1em;
  width: 168px;
  height: 35px;
  text-align: center;
}
.product-container-8 div.action-button-2 a {
  color: #fff;
}

body.body-background {
  background-color: #E2E2E2;
}

input[type=number]::-webkit-inner-spin-button {
  display: none;
}

div.title-shopping {
  position: absolute;
  top: 5em;
  left: 8em;
}

div.title-order {
  position: absolute;
  top: 10em;
  left: 3em;
  font-weight: bolder;
}

div.order-container {
  position: absolute;
  left: 2.5em;
  top: 13em;
  background-color: #fff;
  width: 400px;
  height: 160px;
}
div.order-container img.ping-pong-order {
  height: 120px;
  width: 100px;
  position: absolute;
  left: 1em;
  top: 1em;
}
div.order-container h4.game-title {
  position: absolute;
  top: -0.2em;
}
div.order-container h6.console-order {
  position: relative;
  top: 1.3em;
  font-weight: normal;
}
div.order-container h6.del-time {
  position: relative;
  top: -0.9em;
  font-weight: normal;
}
div.order-container h5.order-price {
  position: absolute;
  left: 11em;
  top: 7em;
}
div.order-container svg.bin {
  position: absolute;
  top: 1em;
  left: 10em;
  width: 41px;
  height: 38px;
}
div.order-container input.number {
  position: absolute;
  top: 8.5em;
  width: 80px;
}
div.order-container div.order-dis {
  position: absolute;
  left: 9em;
}

div.checkout-container {
  position: absolute;
  top: 27em;
  left: 2.5em;
  background-color: #fff;
  width: 250px;
  height: 150px;
}
div.checkout-container h6.item-cart {
  position: absolute;
  left: 1em;
}
div.checkout-container h6.price-item {
  position: absolute;
  left: 15em;
  top: 0em;
}
div.checkout-container h6.price-cost {
  position: absolute;
  top: 2em;
  left: 15.2em;
}
div.checkout-container h6.cost-cart {
  position: absolute;
  top: 2em;
  left: 1em;
}
div.checkout-container h5.total-price {
  position: absolute;
  left: 12em;
  top: 4em;
}
div.checkout-container h5.total {
  position: absolute;
  top: 4em;
  left: 1em;
}
div.checkout-container h5.check-price {
  position: absolute;
  top: 7em;
  left: 2em;
  width: 150px;
  height: 22px;
  text-align: center;
  background-color: #4B7D59;
  font-family: nunito, sans-serif;
  border-radius: 4px;
}
div.checkout-container a.hero-checkout {
  color: #fff;
  position: absolute;
}

div.hero-delivery {
  position: absolute;
  top: 12em;
  left: 2em;
  background-color: #fff;
  width: 382px;
  height: 175px;
}
div.hero-delivery h1.del-info {
  font-size: 24px;
  position: absolute;
  top: -2.5em;
}
div.hero-delivery h4.checkout-del {
  position: relative;
  top: 1.5em;
  left: 0.5em;
  margin: 0.5em;
  font-size: 16px;
  font-weight: 500;
}
div.hero-delivery h4.checkout-info {
  position: relative;
  top: 0.5em;
  left: 0.5em;
  margin: 0.5em;
  font-size: 16px;
  font-weight: 500;
}

div.hero-option {
  position: absolute;
  top: 28em;
  left: 2em;
  background-color: #fff;
  width: 382px;
  height: 175px;
}
div.hero-option h1.del-option {
  position: absolute;
  top: -2.5em;
  font-size: 24px;
}
div.hero-option label.radio-button1 {
  position: absolute;
  left: 10.7em;
  top: 4em;
  cursor: pointer;
}
div.hero-option label.radio-button1 input.radio-input1 {
  display: none;
}
div.hero-option label.radio-button1 div.radio__radio1 {
  width: 1.25em;
  height: 1.25em;
  border: 2px solid black;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 2px;
  position: absolute;
  left: 0.1em;
}
div.hero-option label.radio-button1 div.radio__radio1::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: #11BF42;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.15s;
}
div.hero-option label.radio-button1 input.radio-input1:checked + div.radio__radio1::after {
  transform: scale(1);
}
div.hero-option label.radio-button2 {
  position: absolute;
  left: 10.7em;
  top: 7em;
  cursor: pointer;
}
div.hero-option label.radio-button2 input.radio-input2 {
  display: none;
}
div.hero-option label.radio-button2 div.radio__radio2 {
  width: 1.25em;
  height: 1.25em;
  border: 2px solid black;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 2px;
  position: absolute;
  left: 0.1em;
}
div.hero-option label.radio-button2 div.radio__radio2::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: #11BF42;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.15s;
}
div.hero-option label.radio-button2 input.radio-input2:checked + div.radio__radio2::after {
  transform: scale(1);
}
div.hero-option label.radio-button3 {
  position: absolute;
  left: 10.7em;
  top: 8.7em;
  cursor: pointer;
}
div.hero-option label.radio-button3 input.radio-input3 {
  display: none;
}
div.hero-option label.radio-button3 div.radio__radio3 {
  width: 1.25em;
  height: 1.25em;
  border: 2px solid black;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 2px;
  position: absolute;
  left: 0.1em;
}
div.hero-option label.radio-button3 div.radio__radio3::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: #11BF42;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.15s;
}
div.hero-option label.radio-button3 input.radio-input3:checked + div.radio__radio3::after {
  transform: scale(1);
}
div.hero-option label.radio-button {
  position: absolute;
  left: 10.7em;
  top: 2.4em;
  cursor: pointer;
}
div.hero-option label.radio-button input.radio-input {
  display: none;
}
div.hero-option label.radio-button div.radio__radio {
  width: 1.25em;
  height: 1.25em;
  border: 2px solid black;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 2px;
  position: absolute;
  left: 0.1em;
}
div.hero-option label.radio-button div.radio__radio::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: #11BF42;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.15s;
}
div.hero-option label.radio-button input.radio-input:checked + div.radio__radio::after {
  transform: scale(1);
}
div.hero-option h4.del-date {
  position: relative;
  top: 0.5em;
  left: 0.5em;
  margin: 0.5em;
}
div.hero-option h4.mail-option {
  position: relative;
  top: 1.5em;
  left: 0.5em;
  margin: 0.5em;
  font-size: 16px;
  font-weight: 500;
}
div.hero-option svg.ups {
  width: 24px;
  height: 25px;
  position: absolute;
  left: 11em;
  top: 0.7em;
}
div.hero-option svg.postnord {
  width: 58px;
  height: 19px;
  position: absolute;
  top: 6em;
  left: 19.1em;
}
div.hero-option svg.bring {
  width: 58px;
  height: 19px;
  position: absolute;
  top: 7.5em;
  left: 19em;
}
div.hero-option svg.bring-2 {
  width: 58px;
  height: 19px;
  position: absolute;
  top: 9em;
  left: 19em;
}

div.hero-pay {
  position: absolute;
  top: 45em;
  left: 2em;
  background-color: #fff;
  width: 382px;
  height: 94px;
}
div.hero-pay h1.del-pay {
  position: absolute;
  top: -2.5em;
  font-size: 24px;
}
div.hero-pay h4.pay-option {
  position: relative;
  left: 1em;
}
div.hero-pay label.radio-button4 {
  position: absolute;
  left: 4em;
  top: 1.5em;
  cursor: pointer;
}
div.hero-pay label.radio-button4 input.radio-input4 {
  display: none;
}
div.hero-pay label.radio-button4 div.radio__radio4 {
  width: 1.25em;
  height: 1.25em;
  border: 2px solid black;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 2px;
  position: absolute;
}
div.hero-pay label.radio-button4 div.radio__radio4::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: #11BF42;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.15s;
}
div.hero-pay label.radio-button4 input.radio-input4:checked + div.radio__radio4::after {
  transform: scale(1);
}
div.hero-pay label.radio-button5 {
  position: absolute;
  left: 4em;
  top: 3.8em;
  cursor: pointer;
}
div.hero-pay label.radio-button5 input.radio-input5 {
  display: none;
}
div.hero-pay label.radio-button5 div.radio__radio5 {
  width: 1.25em;
  height: 1.25em;
  border: 2px solid black;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 2px;
  position: absolute;
}
div.hero-pay label.radio-button5 div.radio__radio5::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: #11BF42;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.15s;
}
div.hero-pay label.radio-button5 input.radio-input5:checked + div.radio__radio5::after {
  transform: scale(1);
}
div.hero-pay svg.vipps {
  width: 86px;
  height: 31px;
  position: absolute;
  top: 1em;
  left: 5em;
}
div.hero-pay svg.master-card {
  width: 50px;
  height: 24px;
  position: absolute;
  left: 6em;
  top: 3.7em;
  background-color: #E2E2E2;
  border-radius: 4px;
}
div.hero-pay svg.visa {
  width: 60px;
  height: 19px;
  position: absolute;
  left: 10em;
  background-color: #E2E2E2;
  border-radius: 4px;
}

div.hero-detail {
  position: absolute;
  top: 55em;
  left: 2em;
  background-color: #fff;
  height: 206px;
  width: 382px;
}
div.hero-detail h1.del-detail {
  position: absolute;
  top: -2.5em;
  font-size: 24px;
}
div.hero-detail h4.del-pay {
  position: absolute;
  top: 0em;
  left: 21em;
  font-weight: 500;
}
div.hero-detail h4.del-pay-1 {
  position: absolute;
  top: 2em;
  left: 19em;
  font-weight: 500;
}
div.hero-detail h4.del-game {
  position: relative;
  left: 6em;
  font-weight: normal;
  margin: 0.5em;
  width: 100px;
}
div.hero-detail h4.check-pay {
  width: 50px;
  position: absolute;
  left: 8em;
  top: 3.1em;
  color: #fff;
  width: 168px;
  height: 35px;
  text-align: center;
  font-size: 24px;
  border-radius: 4px;
  font-family: nunito, sans-serif;
  background-color: #4B7D59;
}
div.hero-detail h4.check-pay a {
  width: 10px;
}
div.hero-detail h4.hero-total {
  position: relative;
  top: -0.5em;
  left: 1em;
  font-weight: 500;
}
div.hero-detail img.del-ping-pong {
  width: 80px;
  height: 102px;
  position: absolute;
  top: 5.7em;
  left: 1em;
}

div.footer-check footer {
  width: 100%;
  height: 134px;
  background-color: #4B7D59;
  position: absolute;
  top: 1150px;
}
div.footer-check footer div.sosical-media {
  display: inline;
  position: absolute;
  left: 28em;
  top: 3em;
}
div.footer-check footer div.sosical-media svg.insta {
  width: 32px;
  height: 30px;
  position: absolute;
  right: 4em;
}
div.footer-check footer div.sosical-media svg.tik-tok {
  width: 32px;
  height: 34px;
  position: absolute;
  right: 1em;
}
div.footer-check footer div.sosical-media svg.face {
  width: 17px;
  height: 30px;
  position: absolute;
  left: 0, 5em;
}
div.footer-check footer .logo-footer {
  margin: 0;
  height: 64px;
  width: 90px;
  position: absolute;
  bottom: 4em;
  left: 2em;
  top: 1em;
}
div.footer-check footer div.footer-col nav {
  position: absolute;
  left: 10em;
  top: 1em;
}
div.footer-check footer div.footer-col ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
div.footer-check footer div.footer-col li {
  margin-top: 0.5em;
}
div.footer-check footer div.footer-col a {
  font-family: nunito, sans-serif;
  text-decoration: none;
  color: #fff;
}
div.footer-check footer div.footer-col a:hover {
  color: #75dd53;
}

footer {
  width: 100%;
  height: 134px;
  background-color: #4B7D59;
  position: absolute;
  top: 1500px;
}
footer div.sosical-media {
  display: inline;
  position: absolute;
  left: 28em;
  top: 3em;
}
footer div.sosical-media svg.insta {
  width: 32px;
  height: 30px;
  position: absolute;
  right: 4em;
}
footer div.sosical-media svg.tik-tok {
  width: 32px;
  height: 34px;
  position: absolute;
  right: 1em;
}
footer div.sosical-media svg.face {
  width: 17px;
  height: 30px;
  position: absolute;
  left: 0, 5em;
}
footer .logo-footer {
  margin: 0;
  height: 64px;
  width: 90px;
  position: absolute;
  bottom: 4em;
  left: 2em;
  top: 1em;
}
footer div.footer-col nav {
  position: absolute;
  left: 10em;
  top: 1em;
}
footer div.footer-col ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer div.footer-col li {
  margin-top: 0.5em;
}
footer div.footer-col a {
  font-family: nunito, sans-serif;
  text-decoration: none;
  color: #fff;
}
footer div.footer-col a:hover {
  color: #75dd53;
}

@media only screen and (min-width: 700px) {
  label.nav-toggle-lable {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  header nav {
    all: unset;
    grid-column: 2/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header nav a {
    opacity: 1;
    color: #fff;
    font-size: 16px;
    position: relative;
  }
  header nav li {
    margin-top: 0;
    position: relative;
    right: 6em;
  }
  header nav ul {
    display: flex;
  }
  header .shoppingcart {
    position: absolute;
    left: 40em;
  }
  nav a::after {
    content: "";
    display: block;
    height: 5px;
    background: rgb(71, 207, 241);
    position: absolute;
    top: 10;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  nav a:hover::after {
    transform: scale(1, 1);
  }
  div.checkout-container {
    position: absolute;
    left: 30em;
    top: 13em;
    height: 160px;
  }
  div.checkout-container a h5:hover {
    background-color: #11BF42;
  }
  .product-container div.action-button-1 a h3:hover {
    background-color: #11BF42;
  }
  .product-container div.action-button-2 a h3:hover {
    background-color: #4FBBE1;
  }
  .product-container-2 div.action-button-1 a h3:hover {
    background-color: #11BF42;
  }
  .product-container-2 div.action-button-2 a h3:hover {
    background-color: #4FBBE1;
  }
  .product-container-3 {
    position: absolute;
    left: 30em;
    top: 0em;
  }
  .product-container-3 div.action-button-1 a h3:hover {
    background-color: #11BF42;
  }
  .product-container-3 div.action-button-2 a h3:hover {
    background-color: #4FBBE1;
  }
  .product-container-4 {
    position: absolute;
    left: 0em;
  }
  .product-container-4 div.action-button-1 a h3:hover {
    background-color: #11BF42;
  }
  .product-container-4 div.action-button-2 a h3:hover {
    background-color: #4FBBE1;
  }
  .product-container-5 {
    position: absolute;
    top: 20em;
    left: 15em;
  }
  .product-container-5 div.action-button-1 a h3:hover {
    background-color: #11BF42;
  }
  .product-container-5 div.action-button-2 a h3:hover {
    background-color: #4FBBE1;
  }
  .product-container-6 {
    position: absolute;
    top: 20em;
    left: 30em;
  }
  .product-container-6 div.action-button-1 a h3:hover {
    background-color: #11BF42;
  }
  .product-container-6 div.action-button-2 a h3:hover {
    background-color: #4FBBE1;
  }
  .product-container-7 {
    position: absolute;
    top: 40em;
    left: 0em;
  }
  .product-container-7 div.action-button-1 a h3:hover {
    background-color: #11BF42;
  }
  .product-container-7 div.action-button-2 a h3:hover {
    background-color: #4FBBE1;
  }
  .product-container-8 {
    position: absolute;
    top: 40em;
    left: 15em;
  }
  .product-container-8 div.action-button-1 a h3:hover {
    background-color: #11BF42;
  }
  .product-container-8 div.action-button-2 a h3:hover {
    background-color: #4FBBE1;
  }
  footer div.sosical-media {
    display: inline;
    position: absolute;
    left: 40em;
    top: 3em;
  }
  footer div.footer-col {
    position: absolute;
    left: 8em;
  }
  div.footer-check footer div.sosical-media {
    display: inline;
    position: absolute;
    left: 40em;
    top: 3em;
  }
  div.footer-check footer div.footer-col {
    position: absolute;
    left: 8em;
  }
}
@media screen and (min-width: 800px) {
  label.nav-toggle-lable {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 5fr auto minmax(900px, 3fr) 3fr;
    width: 1440px;
    height: 97px;
  }
  header .logo {
    position: absolute;
    left: 5em;
    top: 1em;
    width: 112px;
    height: 63px;
  }
  header nav {
    all: unset;
    grid-column: 1/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header nav a {
    opacity: 1;
    color: #fff;
    font-size: 14px;
    position: relative;
  }
  header nav li {
    margin-top: 0;
    margin-right: 1em;
    position: relative;
    right: 35em;
  }
  header nav ul {
    display: flex;
  }
  header .shoppingcart {
    position: absolute;
    left: 45em;
    bottom: 2em;
    width: 2em;
    height: 2em;
  }
  footer {
    height: 96px;
  }
  footer div.sosical-media {
    display: inline;
    position: absolute;
    left: 47em;
    top: 2em;
  }
  footer div.sosical-media svg.face {
    width: 14px;
    height: 32px;
  }
  footer div.sosical-media svg.tik-tok {
    width: 24px;
    height: 32px;
  }
  footer div.sosical-media svg.insta {
    width: 25px;
    width: 32px;
  }
  footer div.footer-col {
    position: absolute;
    left: 10em;
  }
  div.footer-check footer {
    height: 96px;
  }
  div.footer-check footer div.sosical-media {
    display: inline;
    position: absolute;
    left: 47em;
    top: 2em;
  }
  div.footer-check footer div.sosical-media svg.face {
    width: 14px;
    height: 32px;
  }
  div.footer-check footer div.sosical-media svg.tik-tok {
    width: 24px;
    height: 32px;
  }
  div.footer-check footer div.sosical-media svg.insta {
    width: 25px;
    width: 32px;
  }
  div.footer-check footer div.footer-col {
    position: absolute;
    left: 10em;
  }
}
@media screen and (min-width: 900px) {
  label.nav-toggle-lable {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 5fr auto minmax(900px, 3fr) 3fr;
    width: 1440px;
    height: 97px;
  }
  header .logo {
    position: absolute;
    left: 5em;
    top: 1em;
    width: 112px;
    height: 63px;
  }
  header nav {
    all: unset;
    grid-column: 1/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header nav a {
    opacity: 1;
    color: #fff;
    font-size: 14px;
    position: relative;
  }
  header nav li {
    margin-top: 0;
    margin-right: 1em;
    position: relative;
    right: 35em;
  }
  header nav ul {
    display: flex;
  }
  header .shoppingcart {
    position: absolute;
    left: 50em;
    bottom: 2em;
    width: 2em;
    height: 2em;
  }
  div.hero-option {
    position: absolute;
  }
  div.hero-pay {
    position: absolute;
  }
  div.hero-detail a h4:hover {
    background-color: #11BF42;
  }
  .product-container-4 {
    position: absolute;
    left: 44em;
    top: 0em;
  }
  .product-container-5 {
    position: absolute;
    left: 0em;
    top: 20em;
  }
  .product-container-6 {
    position: absolute;
    left: 15em;
    top: 20em;
  }
  .product-container-7 {
    position: absolute;
    left: 30em;
    top: 20em;
  }
  .product-container-8 {
    position: absolute;
    left: 44em;
    top: 20em;
  }
  footer {
    height: 96px;
    top: 800px;
  }
  footer div.sosical-media {
    display: inline;
    position: absolute;
    left: 52.5em;
    top: 2em;
  }
  footer div.sosical-media svg.face {
    width: 14px;
    height: 32px;
  }
  footer div.sosical-media svg.tik-tok {
    width: 24px;
    height: 32px;
  }
  footer div.sosical-media svg.insta {
    width: 25px;
    width: 32px;
  }
  footer div.footer-col {
    position: absolute;
    left: 10em;
  }
  div.footer-check footer {
    height: 96px;
    top: 1200px;
  }
  div.footer-check footer div.sosical-media {
    display: inline;
    position: absolute;
    left: 52.5em;
    top: 2em;
  }
  div.footer-check footer div.sosical-media svg.face {
    width: 14px;
    height: 32px;
  }
  div.footer-check footer div.sosical-media svg.tik-tok {
    width: 24px;
    height: 32px;
  }
  div.footer-check footer div.sosical-media svg.insta {
    width: 25px;
    width: 32px;
  }
  div.footer-check footer div.footer-col {
    position: absolute;
    left: 10em;
  }
}
@media screen and (min-width: 930px) {
  label.nav-toggle-lable {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 5fr auto minmax(900px, 3fr) 3fr;
    width: 1440px;
    height: 97px;
  }
  header .logo {
    position: absolute;
    left: 5em;
    top: 1em;
    width: 112px;
    height: 63px;
  }
  header nav {
    all: unset;
    grid-column: 1/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header nav a {
    opacity: 1;
    color: #fff;
    font-size: 14px;
    position: relative;
  }
  header nav li {
    margin-top: 0;
    margin-right: 2em;
    position: relative;
    right: 32em;
  }
  header nav ul {
    display: flex;
  }
  header .shoppingcart {
    position: absolute;
    left: 52em;
    width: 2.5em;
    height: 2.5em;
  }
}
@media screen and (min-width: 1030px) {
  label.nav-toggle-lable {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 5fr auto minmax(900px, 3fr) 3fr;
    width: 1440px;
    height: 97px;
  }
  header .logo {
    position: absolute;
    left: 5em;
    top: 1em;
    width: 112px;
    height: 63px;
  }
  header nav {
    all: unset;
    grid-column: 1/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header nav a {
    opacity: 1;
    color: #fff;
    font-size: 14px;
    position: relative;
  }
  header nav li {
    margin-top: 0;
    margin-right: 2em;
    position: relative;
    right: 32em;
  }
  header nav ul {
    display: flex;
  }
  header .shoppingcart {
    position: absolute;
    left: 57em;
    width: 2.5em;
    height: 2.5em;
  }
  .product-container {
    position: absolute;
    left: 0em;
    top: 0em;
  }
  .product-container .black-image {
    height: 200px;
    width: 150px;
  }
  .product-container .info {
    position: absolute;
    top: 2.7em;
  }
  .product-container .info .title {
    position: absolute;
    left: 1.5em;
  }
  .product-container .info .price {
    position: absolute;
    left: 8em;
  }
  .product-container .action-button-1 {
    position: absolute;
    top: 2.5em;
  }
  .product-container .action-button-1 h3.add {
    width: 200px;
  }
  .product-container .action-button-2 {
    position: absolute;
    top: 2.5em;
  }
  .product-container .action-button-2 h3.detail {
    width: 200px;
  }
  .product-container-2 {
    position: absolute;
    left: 16em;
    top: 0em;
  }
  .product-container-2 .furious-image {
    height: 200px;
    width: 150px;
  }
  .product-container-2 .info {
    position: absolute;
    top: 2.7em;
  }
  .product-container-2 .info .title {
    position: absolute;
    left: 1.5em;
  }
  .product-container-2 .info .price {
    position: absolute;
    left: 8em;
  }
  .product-container-2 .action-button-1 {
    position: absolute;
    top: 2.5em;
  }
  .product-container-2 .action-button-1 h3.add {
    width: 200px;
  }
  .product-container-2 .action-button-2 {
    position: absolute;
    top: 2.5em;
  }
  .product-container-2 .action-button-2 h3.detail {
    width: 200px;
  }
  .product-container-3 {
    position: absolute;
    left: 32em;
    top: 0em;
  }
  .product-container-3 .ping-pong-image {
    height: 200px;
    width: 150px;
  }
  .product-container-3 .info {
    position: absolute;
    top: 2.7em;
  }
  .product-container-3 .info .title {
    position: absolute;
    left: 1.5em;
  }
  .product-container-3 .info .price {
    position: absolute;
    left: 8em;
  }
  .product-container-3 .action-button-1 {
    position: absolute;
    top: 2.5em;
  }
  .product-container-3 .action-button-1 h3.add {
    width: 200px;
  }
  .product-container-3 .action-button-2 {
    position: absolute;
    top: 2.5em;
  }
  .product-container-3 .action-button-2 h3.detail {
    width: 200px;
  }
  .product-container-4 {
    position: absolute;
    left: 48em;
    top: 0em;
  }
  .product-container-4 .assassin-image {
    height: 200px;
    width: 150px;
  }
  .product-container-4 .info {
    position: absolute;
    top: 2.7em;
  }
  .product-container-4 .info .title {
    position: absolute;
    left: 1.5em;
  }
  .product-container-4 .info .price {
    position: absolute;
    left: 8em;
  }
  .product-container-4 .action-button-1 {
    position: absolute;
    top: 2.5em;
  }
  .product-container-4 .action-button-1 h3.add {
    width: 200px;
  }
  .product-container-4 .action-button-2 {
    position: absolute;
    top: 2.5em;
  }
  .product-container-4 .action-button-2 h3.detail {
    width: 200px;
  }
  .product-container-5 {
    position: absolute;
    left: 0em;
    top: 23em;
  }
  .product-container-5 .space-war-image {
    height: 200px;
    width: 150px;
  }
  .product-container-5 .info {
    position: absolute;
    top: 2.7em;
  }
  .product-container-5 .info .title {
    position: absolute;
    left: 1.5em;
  }
  .product-container-5 .info .price {
    position: absolute;
    left: 8em;
  }
  .product-container-5 .action-button-1 {
    position: absolute;
    top: 2.5em;
  }
  .product-container-5 .action-button-1 h3.add {
    width: 200px;
  }
  .product-container-5 .action-button-2 {
    position: absolute;
    top: 2.5em;
  }
  .product-container-5 .action-button-2 h3.detail {
    width: 200px;
  }
  .product-container-6 {
    position: absolute;
    left: 16em;
    top: 23em;
  }
  .product-container-6 .racing-image {
    height: 200px;
    width: 150px;
  }
  .product-container-6 .info {
    position: absolute;
    top: 2.7em;
  }
  .product-container-6 .info .title {
    position: absolute;
    left: 1.5em;
  }
  .product-container-6 .info .price {
    position: absolute;
    left: 8em;
  }
  .product-container-6 .action-button-1 {
    position: absolute;
    top: 2.5em;
  }
  .product-container-6 .action-button-1 h3.add {
    width: 200px;
  }
  .product-container-6 .action-button-2 {
    position: absolute;
    top: 2.5em;
  }
  .product-container-6 .action-button-2 h3.detail {
    width: 200px;
  }
  .product-container-7 {
    position: absolute;
    left: 32em;
    top: 23em;
  }
  .product-container-7 .boxer-image {
    height: 200px;
    width: 150px;
  }
  .product-container-7 .info {
    position: absolute;
    top: 2.7em;
  }
  .product-container-7 .info .title {
    position: absolute;
    left: 1.5em;
  }
  .product-container-7 .info .price {
    position: absolute;
    left: 8em;
  }
  .product-container-7 .action-button-1 {
    position: absolute;
    top: 2.5em;
  }
  .product-container-7 .action-button-1 h3.add {
    width: 200px;
  }
  .product-container-7 .action-button-2 {
    position: absolute;
    top: 2.5em;
  }
  .product-container-7 .action-button-2 h3.detail {
    width: 200px;
  }
  .product-container-8 {
    position: absolute;
    left: 48em;
    top: 23em;
  }
  .product-container-8 .cyberpunk-image {
    height: 200px;
    width: 150px;
  }
  .product-container-8 .info {
    position: absolute;
    top: 2.7em;
  }
  .product-container-8 .info .title {
    position: absolute;
    left: 1.5em;
  }
  .product-container-8 .info .price {
    position: absolute;
    left: 8em;
  }
  .product-container-8 .action-button-1 {
    position: absolute;
    top: 2.5em;
  }
  .product-container-8 .action-button-1 h3.add {
    width: 200px;
  }
  .product-container-8 .action-button-2 {
    position: absolute;
    top: 2.5em;
  }
  .product-container-8 .action-button-2 h3.detail {
    width: 200px;
  }
  div.order-container {
    width: 468px;
    height: 265px;
    position: absolute;
  }
  div.order-container img.ping-pong-order {
    width: 131px;
    height: 177px;
    position: absolute;
    top: 2em;
  }
  div.order-container h4.game-title {
    font-size: 24px;
    width: 10em;
    position: absolute;
    left: 1em;
    top: 0em;
  }
  div.order-container h6.console-order {
    font-size: 20px;
    font-weight: normal;
    left: 1.2em;
    top: 1em;
  }
  div.order-container h6.del-time {
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    left: 1.2em;
    top: 2.5em;
    width: 10em;
  }
  div.order-container svg.bin {
    position: absolute;
    left: 16em;
    top: 2em;
  }
  div.order-container h5.order-price {
    font-size: 20px;
    font-weight: bolder;
    position: absolute;
    top: 6.5em;
  }
  div.order-container input.number {
    position: absolute;
    left: 1.5em;
    top: 12em;
    width: 90px;
    height: 20px;
  }
  div.title-shopping {
    position: absolute;
    left: 9em;
    top: 2em;
    font-size: 30px;
  }
  div.title-order {
    position: absolute;
    top: 9em;
  }
  div.checkout-container {
    position: absolute;
    left: 35em;
    top: 13em;
    height: 265px;
    width: 392px;
  }
  div.checkout-container h6.item-cart {
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    top: -1em;
  }
  div.checkout-container h6.cost-cart {
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    top: 1em;
  }
  div.checkout-container h6.price-item {
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    top: -1em;
  }
  div.checkout-container h6.price-cost {
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    top: 1em;
  }
  div.checkout-container h5.total {
    position: absolute;
    top: 5em;
    font-size: 24px;
    font-weight: normal;
  }
  div.checkout-container h5.total-price {
    position: absolute;
    font-size: 24px;
    font-weight: normal;
    top: 5em;
  }
  div.checkout-container h5.check-price {
    position: absolute;
    top: 8em;
    left: 1em;
    width: 273px;
    height: 35px;
    font-size: 22px;
    text-align: center;
  }
  div.hero-detail {
    position: absolute;
    top: 12em;
    left: 29em;
    width: 450px;
    height: 206px;
  }
  div.hero-detail img.del-ping-pong {
    position: absolute;
    top: 1em;
  }
  div.hero-detail h4.del-game {
    position: relative;
    top: -2.5em;
  }
  div.hero-detail h4.del-pay {
    position: absolute;
    top: 7em;
    left: 10em;
  }
  div.hero-detail h4.del-pay-1 {
    position: absolute;
    top: 8.5em;
    left: 10em;
  }
  div.hero-detail h4.check-pay {
    position: absolute;
    left: 11em;
    top: 4em;
  }
  div.hero-detail h4.hero-total {
    position: relative;
    top: 7.5em;
    left: 0.5em;
    margin: 0.7em;
  }
  footer {
    height: 96px;
    top: 900px;
  }
  footer div.sosical-media {
    display: inline;
    position: absolute;
    left: 60em;
    top: 2em;
  }
  footer div.sosical-media svg.face {
    width: 14px;
    height: 32px;
  }
  footer div.sosical-media svg.tik-tok {
    width: 24px;
    height: 32px;
  }
  footer div.sosical-media svg.insta {
    width: 25px;
    width: 32px;
  }
  footer div.footer-col {
    position: absolute;
    left: 15em;
  }
  div.footer-check footer {
    height: 96px;
    top: 1000px;
  }
  div.footer-check footer div.sosical-media {
    display: inline;
    position: absolute;
    left: 60em;
    top: 2em;
  }
  div.footer-check footer div.sosical-media svg.face {
    width: 14px;
    height: 32px;
  }
  div.footer-check footer div.sosical-media svg.tik-tok {
    width: 24px;
    height: 32px;
  }
  div.footer-check footer div.sosical-media svg.insta {
    width: 25px;
    width: 32px;
  }
  div.footer-check footer div.footer-col {
    position: absolute;
    left: 15em;
  }
  img.logo-footer {
    position: absolute;
    left: 5em;
    top: 1em;
    width: 112px;
    height: 63px;
  }
}
@media screen and (min-width: 1200px) {
  label.nav-toggle-lable {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 5fr auto minmax(900px, 3fr) 3fr;
    width: 1440px;
    height: 97px;
  }
  header .logo {
    position: absolute;
    left: 5em;
    top: 1em;
    width: 112px;
    height: 63px;
  }
  header nav {
    all: unset;
    grid-column: 1/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header nav a {
    opacity: 1;
    color: #fff;
    font-size: 14px;
    position: relative;
  }
  header nav li {
    margin-top: 0;
    margin-right: 4em;
    position: relative;
    right: 22em;
  }
  header nav ul {
    display: flex;
  }
  header .shoppingcart {
    position: absolute;
    left: 68em;
    width: 2.5em;
    height: 2.5em;
  }
  .product-container {
    position: absolute;
    left: 2em;
    top: 0em;
  }
  .product-container-2 {
    position: absolute;
    left: 20em;
    top: 0em;
  }
  .product-container-3 {
    position: absolute;
    left: 38em;
    top: 0em;
  }
  .product-container-4 {
    position: absolute;
    left: 57em;
    top: 0em;
  }
  .product-container-5 {
    position: absolute;
    left: 2em;
    top: 23em;
  }
  .product-container-6 {
    position: absolute;
    left: 20em;
    top: 23em;
  }
  .product-container-7 {
    position: absolute;
    left: 38em;
    top: 23em;
  }
  .product-container-8 {
    position: absolute;
    left: 57em;
    top: 23em;
  }
  div.hero-detail {
    position: absolute;
    top: 12em;
    left: 29em;
    width: 558px;
    height: 206px;
  }
  div.hero-detail h4.check-pay {
    position: absolute;
    left: 15em;
  }
  div.hero-detail h4.del-pay {
    position: absolute;
    top: 7em;
    left: 17em;
    font-weight: 500;
  }
  div.hero-detail h4.del-pay-1 {
    position: absolute;
    top: 8.5em;
    left: 15em;
    font-weight: 500;
  }
  footer {
    height: 96px;
  }
  footer div.sosical-media {
    display: inline;
    position: absolute;
    left: 70em;
    top: 2em;
  }
  footer div.sosical-media svg.face {
    width: 14px;
    height: 32px;
  }
  footer div.sosical-media svg.tik-tok {
    width: 24px;
    height: 32px;
  }
  footer div.sosical-media svg.insta {
    width: 25px;
    width: 32px;
  }
  footer div.footer-col {
    position: absolute;
    left: 16em;
  }
  div.footer-check footer {
    height: 96px;
  }
  div.footer-check footer div.sosical-media {
    display: inline;
    position: absolute;
    left: 70em;
    top: 2em;
  }
  div.footer-check footer div.sosical-media svg.face {
    width: 14px;
    height: 32px;
  }
  div.footer-check footer div.sosical-media svg.tik-tok {
    width: 24px;
    height: 32px;
  }
  div.footer-check footer div.sosical-media svg.insta {
    width: 25px;
    width: 32px;
  }
  div.footer-check footer div.footer-col {
    position: absolute;
    left: 16em;
  }
}
@media screen and (min-width: 1400px) {
  label.nav-toggle-lable {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 5fr auto minmax(900px, 3fr) 3fr;
    height: 97px;
  }
  header .logo {
    position: absolute;
    left: 5em;
    top: 1em;
    width: 112px;
    height: 63px;
  }
  header nav {
    all: unset;
    grid-column: 1/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header nav a {
    opacity: 1;
    color: #fff;
    font-size: 14px;
    position: relative;
  }
  header nav li {
    margin-top: 0;
    margin-right: 4em;
    position: relative;
    right: 22em;
  }
  header nav ul {
    display: flex;
  }
  header .shoppingcart {
    position: absolute;
    left: 80em;
    width: 2.5em;
    height: 2.5em;
  }
  .product-container-2 {
    position: absolute;
    left: 24em;
    top: 0em;
  }
  .product-container-3 {
    position: absolute;
    left: 47em;
    top: 0em;
  }
  .product-container-4 {
    position: absolute;
    left: 70em;
    top: 0em;
  }
  .product-container-6 {
    position: absolute;
    left: 24em;
    top: 23em;
  }
  .product-container-7 {
    position: absolute;
    left: 47em;
    top: 23em;
  }
  .product-container-8 {
    position: absolute;
    left: 70em;
    top: 23em;
  }
  div.hero-detail {
    position: absolute;
    top: 12em;
    left: 35em;
  }
  footer {
    height: 96px;
  }
  footer div.sosical-media {
    display: inline;
    position: absolute;
    left: 82em;
    top: 2em;
  }
  footer div.sosical-media svg.face {
    width: 14px;
    height: 32px;
  }
  footer div.sosical-media svg.tik-tok {
    width: 24px;
    height: 32px;
  }
  footer div.sosical-media svg.insta {
    width: 25px;
    width: 32px;
  }
  footer div.footer-col {
    position: absolute;
    left: 15em;
  }
  div.footer-check footer {
    height: 96px;
  }
  div.footer-check footer div.sosical-media {
    display: inline;
    position: absolute;
    left: 82em;
    top: 2em;
  }
  div.footer-check footer div.sosical-media svg.face {
    width: 14px;
    height: 32px;
  }
  div.footer-check footer div.sosical-media svg.tik-tok {
    width: 24px;
    height: 32px;
  }
  div.footer-check footer div.sosical-media svg.insta {
    width: 25px;
    width: 32px;
  }
  div.footer-check footer div.footer-col {
    position: absolute;
    left: 15em;
  }
}/*# sourceMappingURL=index.css.map */